main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(16px, 1fr) minmax(auto, 400px) minmax(16px, 1fr);
  grid-template-areas: '. content .';

  background-color: var(--surface-color);
  background-image: var(--surface-background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .content {
    grid-area: content;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    > * {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    img {
      width: 60%;
      margin-right: auto;
      margin-left: auto;
    }

    form {
      display: flex;
      flex-direction: column;

      // card style
      background-color: var(--background-color);
      border-radius: 8px;
      box-shadow: 2px 2px 10px #0000003e;
      transition: all 0.4s ease-in-out;
      padding: 16px;

      @media screen and (min-width: 600px) {
        // on tablets
        padding: 24px;
      }
    }
  }
}
