// Style card
.card {
  cursor: pointer;

  // add default background
  background-color: var(--surface-color);
  background-image: var(--surface-background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// style elements when focused
.card:hover {
  @media screen and (min-width: 840px) {

  .background-image {
    img {
      transform: translate3d(0, 0, 0);
      transform: scale(1.03);
    }
  }
}
}

.background-image {
  // put it on the back
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // fit image inside container
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: all 0.4s ease-in-out;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: linear-gradient(to bottom, transparent 50%, black);
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  padding: 5px 15px;

  // align items
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  // space between elements
  * {
    padding-bottom: 10px;
  }

  h4 {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  // style text
  color: white;
}
