.features-scroll {
  @media screen and (min-width: 840px) {
    position: relative;
    background-color: var(--surface-color);
    &::before {
      content: '';
      top: 0;
      bottom: 0;
      position: absolute;
      left: 0;
      width: 50%;
      background: rgb(255, 171, 0);
      background: linear-gradient(
        156deg,
        rgba(255, 171, 0, 1) 0%,
        rgba(255, 209, 0, 1) 32%,
        rgba(255, 200, 0, 1) 83%
      );
    }
  }

  .container {
    // padding variable to align both elements
    --padding: 50px 48px;

    height: 100%;
    @media screen and (min-width: 840px) {
      // two columns on laptop
      display: flex;
    }
    // first column contains links
    aside {
      display: none;

      padding: var(--padding);
      padding-left: 0;

      white-space: nowrap;
      @media screen and (min-width: 840px) {
        display: block;
      }
      @supports ((position: -webkit-sticky) or (position: sticky)) {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        align-self: flex-start;
      }
      a {
        display: block;
        cursor: pointer;
        padding: 15px 0 10px;
        position: relative;

        &::before {
          content: '';

          position: absolute;
          left: 0;
          bottom: 10px;
          height: 3px;
          width: 0;
          border-radius: 3px;

          background: var(--on-secondary) none repeat scroll 0 0;
          -webkit-transition: 0.5s;
          transition: 0.5s;
        }
        &:hover::before {
          width: 100%;
        }
      }
    }

    // second column contains content
    .scroll-content {
      flex-grow: 1;

      @media screen and (min-width: 840px) {
        background-color: var(--surface-color);
        padding-top: 25px;
        padding: var(--padding);
        padding-right: 0;
      }
    }
  }
}
