<section *ngIf="tips.length > 0" indev-section class="container">
  <indev-section-title before>Tips de Innovación</indev-section-title>
  <indev-section-controls>
    <a mat-button [routerLink]="['/tips-innovacion']" color="primary">Ver más tips</a>
  </indev-section-controls>
  <div class="grid">
    <indev-tip-card [tip]="tip" *ngFor="let tip of tips"></indev-tip-card>
  </div>
</section>
<br />
<br />
<section *ngIf="noticias.length > 0" indev-section class="container">
  <indev-section-title before>Noticias</indev-section-title>
  <indev-section-controls>
    <a mat-button [routerLink]="['/noticias']" color="primary">Ver más noticias</a>
  </indev-section-controls>
  <div class="grid">
    <indev-noticia-card [noticia]="noticia" *ngFor="let noticia of noticias"></indev-noticia-card>
  </div>
</section>
