<indev-header>
  <h2>Encuentros - Cafe Científico</h2>
  <h1 *ngIf="!!encuentro; else newEncuentro">{{ encuentro.name }}</h1>
  <ng-template #newEncuentro>Nuevo Encuentro</ng-template>
</indev-header>
<section indev-section class="container">
  <form [formGroup]="encuentroFormGroup" (ngSubmit)="submit()">
    <mat-vertical-stepper [linear]="!encuentro" #stepper>
      <mat-step>
        <ng-template matStepLabel>Información del Encuentro</ng-template>

        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" formControlName="name" required />
          <mat-error>El nombre es requerido</mat-error>
        </mat-form-field>

        <div class="row" style="--vertical: 0">
          <mat-form-field appearance="outline">
            <mat-label>Fecha del Evento</mat-label>
            <input matInput [matDatepicker]="fecha" formControlName="date" required />
            <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
            <mat-datepicker #fecha></mat-datepicker>
            <mat-error>La fecha es requerida</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Fecha fin de Inscripciones</mat-label>
            <input matInput [matDatepicker]="postulaciones" formControlName="postulations" />
            <mat-datepicker-toggle matSuffix [for]="postulaciones"></mat-datepicker-toggle>
            <mat-datepicker #postulaciones></mat-datepicker>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea
            matInput
            type="text"
            class="big-text-area"
            formControlName="description"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Participa</mat-label>
          <input matInput type="text" formControlName="participation" />
          <mat-hint>Ejemplo: Titulación de Medicina</mat-hint>
        </mat-form-field>

        <step-controls>
          <button mat-raised-button color="primary" type="button" matStepperNext>Siguiente</button>
        </step-controls>
      </mat-step>

      <!--  -->
      <!--  -->

      <mat-step>
        <ng-template matStepLabel>Invitados o Ponentes</ng-template>

        <div formArrayName="guests">
          <div *ngFor="let guest of guests.controls; let i = index" [formGroupName]="i">
            <mat-form-field appearance="outline">
              <mat-label>Nombre del Invitado</mat-label>
              <input matInput type="text" formControlName="name" required />
              <mat-error>El nombre es requerido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Descripción</mat-label>
              <textarea
                matInput
                class=" small-text-area"
                type="text"
                formControlName="description"
                required
              ></textarea>
              <mat-error>La descripción es requerida</mat-error>
            </mat-form-field>
          </div>
        </div>

        <step-controls>
          <button mat-button type="button" color="warn" (click)="removeGuest()">
            Eliminar ultimo Invitado
          </button>
          <button mat-button type="button" color="primary" (click)="addGuest()">
            Añadir Invitado
          </button>
        </step-controls>
        <step-controls>
          <button mat-button matStepperPrevious type="button">Anterior</button>
          <button mat-raised-button color="primary" type="button" matStepperNext>Siguiente</button>
        </step-controls>
      </mat-step>
      <!--  -->
      <!--  -->
      <!--  -->
      <!--  -->
      <mat-step>
        <ng-template matStepLabel>Artes del Encuentro</ng-template>
        <!-- url img -->
        <!-- <id-upload-file
              [path]="uploadPath"
              type="imagen"
              label="Url de la Imagen"
              errorMessage="La url es requerida"
              [formControlChild]="img"
              required
            ></id-upload-file> -->
        <!-- <id-upload-file
              [path]="uploadPath"
              type="imagen"
              label="Url del Banner"
              [formControlChild]="banner"
            ></id-upload-file> -->
        <step-controls>
          <button mat-button matStepperPrevious type="button">Anterior</button>
          <button mat-raised-button color="primary" type="button" matStepperNext>Siguiente</button>
        </step-controls>
      </mat-step>
      <!--  -->
      <!--  -->
      <!--  -->
      <!--  -->
      <mat-step>
        <ng-template matStepLabel>Finalizar</ng-template>
        <p>
          Presiona guardar para continuar, y regresar a la pagina anterior
        </p>
        <step-controls>
          <button mat-button matStepperPrevious type="button">Anterior</button>
          <button mat-raised-button color="primary" type="submit">
            Guardar
          </button>
        </step-controls>
        <div class="button-row"></div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</section>
