<div class="nav">
  <div class="container">
    <div class="leading">
      <button class="back" mat-icon-button (click)="location.back()">
        <mat-icon aria-label="Navigate one page back">
          arrow_backward
        </mat-icon>
      </button>
      <button class="menu" mat-icon-button (click)="drawerState.changeState()">
        <mat-icon aria-label="Toggle Drawer state between open and close">
          menu
        </mat-icon>
      </button>

      <a mat-button [routerLink]="['/']">
        <span class="TextTheme--subtitle TextTheme--ascendere">
          Ascendere
        </span>
      </a>
    </div>

    <div class="navigation">
      <!-- Each item from main navbar is clickable. -->
      <div *ngFor="let headerMenuItem of headerMenu">
        <!-- Two Cases, simple link or dropdown, it depends wether it has children or not -->
        <indev-menu-button
          [menuItemData]="headerMenuItem"
          *ngIf="!headerMenuItem.children; else templateName"
        ></indev-menu-button>

        <ng-template #templateName>
          <!-- Summary container, need to position summary container -->
          <div class="summary">
            <button mat-button class="menu-item">
              <h3>{{ headerMenuItem.name }} 🔻</h3>
            </button>

            <ul class="summary-content">
              <li
                *ngFor="let section of headerMenuItem.children"
                class="summary-section"
                [ngClass]="{ 'remove-section-decorator': !section.children }"
              >
                <indev-menu-button
                  [menuItemData]="section"
                  color="primary"
                  *ngIf="section.name"
                ></indev-menu-button>

                <ul *ngIf="section.children">
                  <li *ngFor="let sectionSummary of section.children">
                    <indev-menu-button [menuItemData]="sectionSummary"></indev-menu-button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- Elements to be displayed at the right side of the application navbar -->
    <div class="action">
      <button mat-icon-button>
        <mat-icon aria-label="Open bottom sheet options" (click)="sharePage()">
          share
        </mat-icon>
      </button>

      <!--  -->
      <!--  -->
      <!--  -->
      <button mat-icon-button>
        <mat-icon aria-label="Open bottom sheet options" [matMenuTriggerFor]="menu">
          more_vert
        </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a *ngIf="!(afAuth.authState | async)" mat-menu-item [routerLink]="['/login/signIn']">
          🙂 Iniciar Sesión
        </a>
        <a *ngIf="!(afAuth.authState | async)" mat-menu-item [routerLink]="['/login/signUp']">
          ➕ Registrarse
        </a>
        <a *ngIf="(afAuth.authState | async)" mat-menu-item (click)="afAuth.auth.signOut()">
          ❌ Cerrar Sección
        </a>
        <a mat-menu-item href="mailto:bruno.be81@gmail.com">
          📝 Informar de un error
        </a>
      </mat-menu>
    </div>
  </div>
</div>
