indev-header {
  color: white !important;
}
div#content.container {
  display: grid;
  grid-gap: 10px 40px;

  grid-template-areas:
    'markdown'
    'aside'
    'main';

  @media screen and(min-width: 840px) {
    // on laptop
    grid-template-areas:
      'aside markdown'
      'aside main';
    grid-template-columns: 1fr 4fr;
  }

  aside {
    grid-area: aside;

    // position elements inside
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 16px;
  }

  markdown {
    grid-area: markdown;
  }

  main {
    width: 100%;
    overflow: hidden;

    grid-area: main;

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
      > span {
        display: block;

        &:not(.TextTheme--body2) {
          margin-left: 16px;
        }
      }
    }
  }
}
