<indev-header>
  <h1>Diseño y Desarrollo de mi Asignatura</h1>
</indev-header>

<section indev-section class="container">
  <markdown ngPreserveWhitespaces>
    #### ¿Cómo elaborar mi Plan Docente?

    - ¿Cómo elaborar mi Plan Docente?
    - ¿Qué es el Plan Docente?
    - ¿Qué elementos tiene el Plan?
    - ¿Cuáles son las funciones del Plan Docente?
    - ¿Cómo se evalúa a los estudiantes?
    - ¿El Plan docente evidencia nuestra calidad y compromiso?
    - ¿Cuál es el proceso de revisión y aprobación del Plan Docente?
    - ¿Qué es el repositorio de Planes Docentes?
  </markdown>


  <markdown ngPreserveWhitespaces>
    #### ¿Cómo se elabora un Plan por medio del Repositorio de Planes Docentes?

    10 pasos sencillos para elaborar un plan
  </markdown>

  <markdown ngPreserveWhitespaces>
    #### ¿Deseas conocer algunos recursos digitales aplicados a la docencia?

    Ponemos a tu disposición algunos recursos digitales que pueden ser aplicados a la docencia.
  </markdown>

  <markdown ngPreserveWhitespaces>
    #### ¿Conoces las Bases de Datos que te pueden ayudar para el aprendizaje de tus estudiantes?

    Repositorios de recursos digitales de carácter científico que contiene información relevante, de instituciones de gran renombre, 100% confiable, verídica y de última generación en todos los campos del saber humano; disponible para docentes, administrativos y estudiantes de la UTPL.
  </markdown>

  <markdown ngPreserveWhitespaces>
    #### ¿Necesitas asesoramiento pedagógico para el desarrollo de tu asignatura?

    Desde el Laboratorio de Innovación e Investigación Docente (LiiD) te ofrecemos varios servicios personalizados que te servirán para mejorar tu práctica docente:

    - Filmación de tu clase
    - Observación de tu clase
    - Asesoramiento personalizado
    - Grabación de Vídeos
  </markdown>
</section>
