section[indev-section] {
  position: relative;
  &::before {
    content: '';

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;

    overflow: auto;
    background: var(--background-color) url('/assets/images/background.svg') repeat-y 50% 0;
    background-size: 100vw;
    opacity: 0.6;
  }
  .container {
    .row {
      --padding-top: 100px;

      aside {
        @supports ((position: -webkit-sticky) or (position: sticky)) {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          align-self: flex-start;
        }
        h2 {
          border-bottom: 1px solid #333;
        }
        @media screen and(min-width: 840px) {
          padding-top: var(--padding-top);
          h2 {
            border-bottom-width: 2px;
          }
        }
      }

      .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        row-gap: 16px;
        @media screen and(min-width: 840px) {
          padding-top: var(--padding-top);

          row-gap: 24px;
        }
        mat-form-field {
          margin: 0;
          padding: 0;
          textarea {
            border-radius: 8px;
            background-color: var(--background-color);
            height: 100px;
            resize: none;
          }
        }
      }
    }
  }
}
