<indev-header>
  <h1>Diseño y Desarrollo de mi Asignatura</h1>
</indev-header>

<section indev-section>
  <div class="container">
    <div class="row">
      <aside>
        <h2 class="TextTheme--display1">
          Preguntas frecuentes
        </h2>
      </aside>
      <main class="main">
        <indev-faq-card name="plan-docente"> </indev-faq-card>
        <indev-faq-card name="repositorio-plan-docente"> </indev-faq-card>
        <indev-faq-card name="recursos-digitales-aplicados"> </indev-faq-card>
        <indev-faq-card name="bases-datos" goto="https://biblioteca.utpl.edu.ec/"> </indev-faq-card>
        <indev-faq-card name="asesoramiento-pedagogico"> </indev-faq-card>
      </main>
    </div>
    <!-- <div class="row">
      <aside>
        <h2 class="TextTheme--display1">
          Comentarios
        </h2>
      </aside>
      <div class="main">
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>
      </div>
    </div> -->
  </div>
</section>
