<!-- Noticia card has 2 main parts: hero image and content -->
<!-- Content has 4 sections: Title, date, short description, 'Read More' Button -->

<div class="card">
  <div class="hero-image aspect-ratio">
    <img [src]="noticia.img" [alt]="noticia.altImg" />
  </div>
  <div class="content">
    <h4 class="TextTheme--title">{{ noticia.name }}</h4>
    <small class="TextTheme--subhead">{{ noticia.date | date }}</small>
    <div class="aspect-ratio" style="--aspect-ratio: 21/9">
      <markdown>{{ noticia.description }}</markdown>
    </div>
    <a mat-stroked-button color="primary" [routerLink]="['/noticias/noticia', noticia.id]">
      Leer más
    </a>
  </div>
</div>
