<!-- Scroll Container has 2 main section, header and content
      Header should have links to all components inside the content area
    Content have sections for different modules -->

<div class="features-scroll ">
  <div class="container">
    <aside>
      <section indev-section>
        <indev-section-title>Formación</indev-section-title>
        <ul>
          <li class="TextTheme--headline active">
            <a>Programa de Formación</a>
          </li>
          <li class="TextTheme--headline">
            <a>Vitamina I</a>
          </li>
        </ul>
      </section>
    </aside>

    <div class="scroll-content">
      <section indev-section>
        <indev-section-title>Próximos Cursos</indev-section-title>
        <indev-section-controls>
          <a mat-stroked-button [routerLink]="['/programa-formacion']">Programa de Formación</a>
        </indev-section-controls>
        <div *ngIf="hasCursos; else emptyMessage">
          <div class="grid">
            <indev-curso-card *ngFor="let curso of cursos" [curso]="curso"></indev-curso-card>
          </div>
        </div>
        <ng-template #emptyMessage>
          <span class="TextTheme--headline">
            ❗ No se encontraron cursos.
          </span>
        </ng-template>
      </section>

      <section indev-section>
        <indev-section-title>Ultimas Noticias</indev-section-title>
        <indev-section-controls>
          <button mat-button>Ver más</button>
        </indev-section-controls>
      </section>
    </div>
  </div>
</div>
