<!-- Scroll Container has 2 main section, header and content
      Header should have links to all components inside the content area
    Content have sections for different modules -->

<div class="features-scroll ">
  <div class="container">
    <aside>
      <section indev-section>
        <indev-section-title>Formación</indev-section-title>
        <ul>
          <li class="TextTheme--headline active">
            <a>Programa de Formación</a>
          </li>
          <li class="TextTheme--headline">
            <a>Vitamina I</a>
          </li>
        </ul>
      </section>
    </aside>

    <div class="scroll-content">
      <section indev-section>
        <indev-section-title>Próximos Cursos</indev-section-title>
        <indev-section-controls>
          <button mat-button>Portafolio</button>
        </indev-section-controls>
        <div class="grid">
          <indev-curso-card></indev-curso-card>
          <indev-curso-card></indev-curso-card>
          <indev-curso-card></indev-curso-card>
          <indev-curso-card></indev-curso-card>
        </div>
      </section>

      <section indev-section>
        <indev-section-title>Ultimas Noticias</indev-section-title>
        <indev-section-controls>
          <button mat-button>Ver Mas</button>
        </indev-section-controls>
        <div class="grid">
          <indev-noticia-card></indev-noticia-card>
          <indev-noticia-card></indev-noticia-card>
          <indev-noticia-card></indev-noticia-card>
          <indev-noticia-card></indev-noticia-card>
        </div>
      </section>
    </div>
  </div>
</div>
