<!-- Scroll Container has 2 main section, header and content
      Header should have links to all components inside the content area
    Content have sections for different modules -->

<div class="features-scroll ">
  <div class="container">
    <header>
      <section indev-section>
        <indev-section-title style="color: white">Formación</indev-section-title>
        <ul>
          <li>
            <button mat-flat-button color="primary">Hello</button>
          </li>
          <li>
            <button mat-flat-button color="primary">Hello</button>
          </li>
          <li>
            <button mat-flat-button color="primary">Hello</button>
          </li>
          <li>
            <button mat-flat-button color="primary">Hello</button>
          </li>
        </ul>
      </section>
    </header>

    <div class="scroll-content">
      <section indev-section>
        <indev-section-title>Header 1</indev-section-title>
        <indev-section-controls>
          <button mat-button>Hello</button>
          <button mat-button>Hello</button>
        </indev-section-controls>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fuga dicta eveniet aut,
          laudantium ab et ducimus sit quos sint impedit ea, ad rem tempore hic ut distinctio
          expedita omnis!
        </p>
        <div class="grid">
          <indev-curso-card></indev-curso-card>
          <indev-curso-card></indev-curso-card>
          <indev-curso-card></indev-curso-card>
          <indev-curso-card></indev-curso-card>
        </div>
      </section>
    </div>
  </div>
</div>
