section.container-wrapper {
  overflow: auto;
  background: var(--background-color) url('/assets/images/background.svg') repeat-y 50% 0;
  background-size: 100vw;
  width: 100%;
  padding: 0;
  background-size: cover;
  .container {
    padding-top: 20px;
    padding-bottom: 30px;
    @media screen and(min-width: 840px) {
      // on laptop
      padding: 50px 0 80px 0;
    }
  }
}

.body {
  height: 100%;
  background-color: var(--secondary-color);
  main {
    transform-origin: center bottom 0px;
    box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
    border-radius: 10px;

    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease 0s;
  }
  &.tight main {
    transform: translateY(-60px) scale(0.9);
    cursor: pointer;
  }

  footer {
    margin-bottom: 25px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 600px) {
      margin-bottom: 50px;

      flex-direction: row;
      justify-content: space-between;
    }
    img {
      margin-bottom: 15px;
      border-radius: 50%;
      width: 100%;
      height: auto;
      @media (min-width: 600px) {
        margin-bottom: 0;
        width: 130px;
        height: 130px;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
