.guests ul {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

  li > *:not(span) {
    margin-left: 10px;
  }
  @media screen and (min-width: 600px) {
    // on tablets
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and(min-width: 1440px) {
    // on 4k
    grid-template-columns: repeat(3, 1fr);
  }
}

.inscription {
  margin-top: 16px;

  display: flex;
  justify-content: flex-end;
  @media screen and (min-width: 600px) {
    // on tablets
    margin-top: 30px;
  }
}
