<section indev-section>
  <h2 class="TextTheme--headline" *ngIf="encuentro.canInscribe">
    Inscribete hasta el
    <a
      class="TextTheme--ascendere"
      style="text-transform: none"
      [routerLink]="['/', 'cafe-cientifico', 'encuentro', encuentro.id, 'inscripcion']"
    >
      {{ encuentro.postulations | date: 'fullDate' }}
    </a>
  </h2>
  <markdown [data]="encuentro.description"> </markdown>
</section>

<section indev-section *ngIf="encuentro.hasGuests" class="guests">
  <indev-section-title>👨‍🏫 Invitados</indev-section-title>
  <ul>
    <li *ngFor="let guest of encuentro.guests">
      <span class="TextTheme--title">{{ guest.name }}</span>
      <div>
        <markdown [data]="guest.description"></markdown>
      </div>
    </li>
  </ul>
</section>

<div *ngIf="encuentro.canInscribe" class="inscription">
  <a
    mat-raised-button
    color="primary"
    [routerLink]="['/', 'cafe-cientifico', 'encuentro', encuentro.id, 'inscripcion']"
  >
    Inscribirse en el encuentro
  </a>
</div>
