<indev-header *ngIf="pageTitle">
  <h1 class="TextTheme--display2">{{ pageTitle }}</h1>
</indev-header>
<section indev-section class="container">
  <div class="grid" style="--size: 400px" *ngIf="hasProjects; else emptyMessage">
    <indev-proyecto-card
      *ngFor="let proyecto of proyectos"
      [proyecto]="proyecto"
    ></indev-proyecto-card>
  </div>
  <ng-template #emptyMessage>
    <span class="TextTheme--display1">
      ❗ Lo sentimos, pero no se encontraron proyectos.
    </span>
  </ng-template>
</section>
