.grid {
  display: grid;
  grid-gap: 40px;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  @media only screen and (max-width: 1400px) {
    & {
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
  }
  @media only screen and (max-width: 768px) {
    & {
      grid-gap: 15px;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
  }
}
