.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  @media screen and(min-width: 840px) {
    // on laptop
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  @media screen and(min-width: 1024px) {
    // on laptop l
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }
}
