.row {
  display: block;
}

@media screen and (min-width: 600px) {
  .row {
    display: grid;
    grid-template-columns: repeat(12, 6.39%);
    grid-gap: 2.12%;
  }
}
@media screen and (min-width: 1024px) {
  .row {
    grid-template-columns: repeat(12, 61.344px);
    grid-gap: 20.352px;
  }
}

body.lh-signedin [data-lh-signin='hide'] {
  display: none !important;
}
hr {
  margin: 48px 0 72px;
  border: 0;
  height: 1px;
  width: 100%;
  background: #dadce0;
}
[ds-is='header'] .devsite-top-logo-row,
[ds-is='tabs'] {
  height: 64px;
}
[ds-is='header'] .devsite-site-logo-link:focus {
  opacity: 1;
}
[ds-is='header'] .devsite-site-logo {
  height: 30px;
}
[ds-is='search'] {
  -ms-flex-item-align: center;
  align-self: center;
  margin: 14px 0 14px 24px;
}
[ds-is='header'] devsite-search-background {
  padding: 14px 0;
}
[ds-is='tabs'].upper-tabs tab a,
[ds-is='tabs'].upper-tabs tab a:focus,
[ds-is='tabs'].upper-tabs tab a:hover {
  font-weight: 500;
}
[ds-is='user']:not([signed-in]) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 96px;
  flex: 0 0 96px;
  margin-right: -8px;
}
devsite-heading .devsite-back-to-top-link,
devsite-heading .devsite-heading-link {
  display: none;
}
.caps-heading {
  font: 500 14px/20px Roboto, sans-serif;
  text-transform: uppercase;
  color: #e51661;
  margin-bottom: 8px;
  letter-spacing: 0.75px;
}
.devsite-collapsible-section.devsite-header-no-lower-tabs {
  display: none;
}
:link:not(.button),
:visited:not(.button) {
  color: #202124;
  -webkit-transition: color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s, -webkit-text-decoration 0.2s;
}
:link:not(.button):active,
:link:not(.button):focus,
:link:not(.button):hover,
:visited:not(.button):active,
:visited:not(.button):focus,
:visited:not(.button):hover {
  color: #3740ff;
}
.devsite-footer-sites-logo-link:focus,
.devsite-site-logo-link:focus {
  outline: auto;
  outline-color: #3b99fc;
}
devsite-content-footer.container.nocontent {
  margin-bottom: 32px;
  color: #5f6368;
}
.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}
.row {
  display: block;
}
@media screen and (min-width: 600px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(12, 6.39%);
    grid-gap: 2.12%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .row {
    grid-template-columns: repeat(12, 61.344px);
    grid-gap: 20.352px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .row {
    grid-template-columns: repeat(12, 81.792px);
    grid-gap: 27.136px;
  }
}
.col-xs-12 {
  grid-column: 1 / span 12;
}
@media screen and (min-width: 600px) {
  .col-sm-10 {
    grid-column: 2 / span 10;
  }
  .col-sm-12 {
    grid-column: 1 / span 12;
  }
}
@media screen and (min-width: 840px) {
  .col-md-8 {
    grid-column: 3 / span 8;
  }
  .col-md-10 {
    grid-column: 2 / span 10;
  }
  .col-md-12 {
    grid-column: 1 / span 12;
  }
}
@media screen and (min-width: 1024px) {
  .col-lg-6 {
    grid-column: 4 / span 6;
  }
  .col-lg-8 {
    grid-column: 3 / span 8;
  }
  .col-lg-10 {
    grid-column: 2 / span 10;
  }
  .col-lg-12 {
    grid-column: 1 / span 12;
  }
}
@media screen and (min-width: 1440px) {
  .col-xl-6 {
    grid-column: 4 / span 6;
  }
  .col-xl-8 {
    grid-column: 3 / span 8;
  }
  .col-xl-10 {
    grid-column: 2 / span 10;
  }
  .col-xl-12 {
    grid-column: 1 / span 12;
  }
}
body[layout] .devsite-main-content {
  max-width: none;
  margin: 0 auto;
  padding: 0;
}
@media screen and (min-width: 600px) {
  body[layout] .devsite-main-content {
    max-width: none;
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  body[layout] .devsite-main-content {
    max-width: none;
  }
}
@media screen and (min-width: 1440px) {
  body[layout] .devsite-main-content {
    max-width: none;
    padding: 0;
  }
}
.aside :link,
.aside :link:focus,
.aside :link:hover,
.aside :visited,
.aside :visited:focus,
.aside :visited:hover {
  color: #202124;
  background: transparent;
}
.aside :link:hover,
.aside :visited:hover {
  text-decoration: none;
}
.aside :link:focus,
.aside :visited:focus {
  outline: auto;
  outline-color: #3b99fc;
}
.note,
.special {
  background: #f0fbff;
  border-left: 3px solid #2979ff;
}
.note::before,
.special::before {
  content: 'star';
}
.caution {
  background: #fff6eb;
  border-left: 3px solid #e8710a;
}
.caution::before {
  content: 'error';
}
.objective,
.success {
  background: #edfaf3;
  border-left: 3px solid #66bb6a;
}
.objective::before {
  content: 'school';
}
.success::before {
  content: 'check_circle';
}
.warning {
  background: #fdf0ef;
  border-left: 3px solid #e53935;
}
.warning::before {
  content: 'warning';
}
.web-author-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.web-author-information__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
.web-author-information__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.web-author-information__written-by {
  font-weight: 800;
}
.web-author-information__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.web-author-information__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: inherit;
}
.web-author-information__link:not(:last-child)::after {
  content: 'Â·';
  display: inline-block;
  margin: 0 5px;
  font-size: 25px;
}
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  min-width: 0;
}
.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 0;
}
.breadcrumbs li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 0;
}
.breadcrumbs li :link:not(.button):active,
.breadcrumbs li :link:not(.button):focus,
.breadcrumbs li :link:not(.button):hover,
.breadcrumbs li :visited:not(.button):active,
.breadcrumbs li :visited:not(.button):focus,
.breadcrumbs li :visited:not(.button):hover {
  color: #3740ff;
}
.breadcrumbs li :link:not(.button):focus,
.breadcrumbs li :visited:not(.button):focus {
  text-decoration: underline;
}
.breadcrumbs li:not(:last-of-type)::after {
  content: 'chevron_right';
  font-family: 'Material Icons';
  margin: 0 16px;
  alt: '';
}
.breadcrumbs li:not(:last-of-type) {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.breadcrumbs li:last-of-type > a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.button,
button,
input[type='button'],
input[type='file'],
input[type='image'],
input[type='reset'],
input[type='submit'] {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #3740ff;
  padding: 16px 24px;
  letter-spacing: 1px;
  line-height: 1;
  height: auto;
  width: auto;
}
.button-primary,
[ds-is='footer-utility'] .devsite-footer-utility-button > a {
  background: #3740ff;
  color: #fff;
}
.button-primary:active,
.button-primary:focus,
.button-primary:hover,
[ds-is='footer-utility'] .devsite-footer-utility-button > a:active,
[ds-is='footer-utility'] .devsite-footer-utility-button > a:focus,
[ds-is='footer-utility'] .devsite-footer-utility-button > a:hover {
  background: #1f65fb;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.button-secondary,
.button-transparent {
  border: 1px solid #dadce0;
  color: inherit;
}
.button-secondary:active,
.button-secondary:focus,
.button-secondary:hover,
.button-transparent:active,
.button-transparent:focus,
.button-transparent:hover {
  background: #dee8ff;
  color: #3740ff;
  border: 1px solid #dadce0;
}
.button-flat {
  padding: 16px 8px;
}
.button-flat:active,
.button-flat:focus,
.button-flat:hover {
  background: #dee8ff;
}
.button.button-justify-left {
  margin-left: -24px;
}
.button.button-justify-right {
  margin-right: -24px;
}
.button.button-justify-top {
  margin-top: -24px;
}
.button.button-flat.button-justify-left {
  margin-left: -8px;
}
.button.button-flat.button-justify-right {
  margin-right: -8px;
}
.button.button-flat.button-justify-top {
  margin-top: -8px;
}
.lh-signin-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
button.devsite-icon-copy:focus,
button.devsite-toggle-dark:focus {
  color: #212121;
}
.card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: calc(61.344px * 6);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  margin-bottom: 32px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 113px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 8px;
  font-weight: 600;
  font-size: 14px;
}
.card__new,
.card__progress {
  background: transparent;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  padding: 8px;
}
.card__new {
  border: 0;
}
.card__header--colored {
  padding: 8px 8px 0;
  background-color: #f1f3f4;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 145px;
}
.card__header--colored .card__progress {
  border-color: rgba(255, 255, 255, 0.3);
}
.card__header--accessible {
  background-image: url('../images/illustrations/accessible.svg');
}
.card__header--discoverable {
  background-image: url('../images/illustrations/discoverable.svg');
}
.card__header--fast {
  background-image: url('../images/illustrations/fast.svg');
}
.card__header--installable {
  background-image: url('../images/illustrations/installable.svg');
}
.card__header--reliable {
  background-image: url('../images/illustrations/reliable.svg');
}
.card__header--secure {
  background-image: url('../images/illustrations/secure.svg');
}
.card__header--smooth {
  background-image: url('../images/illustrations/smooth.svg');
}
.card__image-circle {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 32px 0 0 24px;
  position: absolute;
  background-color: #3740ff;
}
.card__title {
  font-family: Google Sans, sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
  line-height: 1.2;
}
.card__desc {
  height: 40px;
  overflow: hidden;
  line-height: 20px;
  margin-bottom: 8px;
}
.card__content {
  padding: 24px 32px 16px;
}
@media screen and (min-width: 600px) {
  .card-row {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16.128px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .card {
    margin-bottom: 0;
  }
  .card__header--colored {
    height: 208px;
  }
}
@media screen and (min-width: 1024px) {
  .card-row {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 14.9248px;
  }
}
@media screen and (min-width: 1440px) {
  .card-row {
    grid-column: 2 / span 10;
    grid-gap: 20.352px;
  }
}
.chip-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.chip {
  background-color: rgba(96, 1, 255, 0.2);
  border-radius: 20px;
  padding: 4px 14px;
}
.chip__text {
  font: 700 14px/24px Roboto, sans-serif;
  color: #6001ff;
}
.codelab-cta {
  height: 65px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px;
  margin: 16px 0;
}
.codelab-cta::before {
  font: normal normal normal 24px/1 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  content: 'code';
  color: #e51661;
  font-size: 16px;
  margin-right: 16px;
}
.codelab-cta .button {
  color: #e51661;
}
.codelab-cta .button:focus,
.codelab-cta .button:hover {
  background: #fce3ec;
}
.codelab-cta .button:active {
  background: #f9c7d9;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}
.codelab-cta__title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: 500;
}
.codelab-cta--sidebar {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
  margin: 12px 0;
  line-height: 1.5;
  padding: 0;
}
.codelab-cta--sidebar:last-child {
  margin: 0;
}
.codelab-cta--sidebar::before {
  margin-right: 8px;
  margin-top: 4px;
}
.codelab-cta--sidebar__title:link,
.codelab-cta--sidebar__title:visited {
  font-weight: 400;
  color: #202124;
}
.codelab-cta--sidebar__title:link:active,
.codelab-cta--sidebar__title:link:focus,
.codelab-cta--sidebar__title:link:hover,
.codelab-cta--sidebar__title:visited:active,
.codelab-cta--sidebar__title:visited:focus,
.codelab-cta--sidebar__title:visited:hover {
  color: #e51661;
}
.codelab-cta--sidebar__title:link:focus,
.codelab-cta--sidebar__title:visited:focus {
  text-decoration: underline;
}
.cta-mark-complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cta-mark-complete__heading {
  text-align: center;
  margin-bottom: 32px;
  line-height: 32px;
  font-weight: 500;
}
.cta-next-guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 72px auto;
}
.cta-next-guide__wrapper {
  background: #f8f9fa;
  border-radius: 8px;
  text-align: center;
  padding: 48px 64px;
}
.cta-next-guide__heading {
  font: 500 14px/20px Roboto, sans-serif;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.cta-next-guide__link {
  font: 500 20px/32px Google Sans, sans-serif;
  -webkit-transition: color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s, -webkit-text-decoration 0.2s;
}
.cta-next-guide__link:active,
.cta-next-guide__link:focus,
.cta-next-guide__link:hover {
  color: #3740ff;
}
.cta-next-guide__link::after {
  display: inline-block;
  vertical-align: middle;
  font: normal normal normal 24px/1 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  content: 'keyboard_backspace';
  -webkit-transform: rotate(180deg) translateX(-8px);
  transform: rotate(180deg) translateX(-8px);
}
.cta-next-guide__go-back {
  margin-top: 64px;
}
body:not([signed-in]) .cta-next-guide__complete-notice {
  display: none;
}
.disclosures {
  margin: 24px 0;
}
.disclosures .disclosure {
  border-top: 1px solid #dadce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 18px 0;
  position: relative;
}
.disclosures .disclosure:last-child {
  border-bottom: 1px solid #dadce0;
}
.disclosures .disclosure > summary {
  font: 500 16px/24px Roboto, sans-serif;
  color: #202124;
  cursor: pointer;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  list-style: none;
  padding-right: 32px;
}
.disclosures .disclosure > summary:-webkit-details-marker {
  display: none;
}
.disclosures .disclosure > summary::before {
  font: normal normal normal 24px/1 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  color: #9aa0a6;
  content: 'keyboard_arrow_down';
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 0;
  visibility: visible;
}
.disclosures .disclosure[open] > summary::before {
  content: 'keyboard_arrow_up';
}
header.feature {
  background: #f8f9fa;
  color: #202124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 32px 0 0;
}
header.feature h1:first-of-type {
  position: static;
  overflow: initial;
  text-overflow: initial;
  margin: 0;
  font: 600 34px/40px Google Sans, sans-serif;
  letter-spacing: 0.25px;
}
header.feature .container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
header.feature .feature-left {
  grid-column: span 4;
  text-align: center;
  margin-bottom: 32px;
}
header.feature .feature-right {
  background: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  grid-column: span 4;
  min-height: 312px;
  margin-bottom: 32px;
}
header.feature .feature-right.path--accessible {
  background-image: url('../images/illustrations/accessible.svg');
}
header.feature .feature-right.path--discoverable {
  background-image: url('../images/illustrations/discoverable.svg');
}
header.feature .feature-right.path--fast {
  background-image: url('../images/illustrations/fast.svg');
  background-position: bottom;
}
header.feature .feature-right.path--installable {
  background-image: url('../images/illustrations/installable.svg');
}
header.feature .feature-right.path--reliable {
  background-image: url('../images/illustrations/reliable.svg');
}
header.feature .feature-right.path--secure {
  background-image: url('../images/illustrations/secure.svg');
}
@media screen and (min-width: 600px) {
  header.feature .feature-right {
    grid-row: 1;
    grid-column: 1 / span 12;
  }
  header.feature .feature-left {
    grid-row: 2;
    grid-column: 1 / span 12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (min-width: 840px) {
  header.feature .feature-left,
  header.feature .feature-right {
    grid-row: 1;
  }
  header.feature .feature-left {
    grid-column: 1 / span 6;
    text-align: left;
  }
  header.feature .feature-right {
    grid-column: 7 / span 6;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  header.feature h1:first-of-type {
    font: 500 62px/72px Google Sans, sans-serif;
    letter-spacing: 0px;
  }
}
@media screen and (min-width: 1440px) {
  header.feature .feature-left {
    grid-column: 2 / span 5;
  }
}
.go-back {
  display: inline-block;
  font-size: 14px;
  color: #202124;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 95%;
  line-height: 1;
  -webkit-transition: color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s, -webkit-text-decoration 0.2s;
}
.go-back:active,
.go-back:focus,
.go-back:hover {
  color: #3740ff;
}
.go-back::before {
  display: inline-block;
  vertical-align: middle;
  font: normal normal normal 24px/1 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  content: 'keyboard_backspace';
  margin-right: 8px;
  margin-top: -2px;
}
.hero-area {
  margin-top: 96px;
  text-align: center;
}
.hero-area .button {
  margin-top: 32px;
}
.hero-title,
devsite-heading.hero-title h1 {
  font-family: Google Sans, sans-serif;
  font-size: 62px;
  font-weight: 500;
  overflow: initial;
}
.hero-title + p,
devsite-heading.hero-title h1 + p {
  max-width: 500px;
  margin: auto;
}
input.lh-input {
  height: 44px;
  font-size: 16px;
  padding-left: 40px;
  border: 1px solid #dadce0;
  border-radius: 2px;
  background-color: #f1f3f4;
  line-height: 56px;
  background: url('data:image/svg+xml;utf8,<svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg"><path fill="%23212121" d="M7.992,0 C3.576,0 0,3.584 0,8 C0,12.416 3.576,16 7.992,16 C12.416,16 16,12.416 16,8 C16,3.584 12.416,0 7.992,0 Z M13.536,4.8 L11.176,4.8 C10.92,3.8 10.552,2.84 10.072,1.952 C11.544,2.456 12.768,3.48 13.536,4.8 Z M8,1.632 C8.664,2.592 9.184,3.656 9.528,4.8 L6.472,4.8 C6.816,3.656 7.336,2.592 8,1.632 Z M1.808,9.6 C1.68,9.088 1.6,8.552 1.6,8 C1.6,7.448 1.68,6.912 1.808,6.4 L4.512,6.4 C4.448,6.928 4.4,7.456 4.4,8 C4.4,8.544 4.448,9.072 4.512,9.6 L1.808,9.6 Z M2.464,11.2 L4.824,11.2 C5.08,12.2 5.448,13.16 5.928,14.048 C4.456,13.544 3.232,12.528 2.464,11.2 Z M4.824,4.8 L2.464,4.8 C3.232,3.472 4.456,2.456 5.928,1.952 C5.448,2.84 5.08,3.8 4.824,4.8 Z M8,14.368 C7.336,13.408 6.816,12.344 6.472,11.2 L9.528,11.2 C9.184,12.344 8.664,13.408 8,14.368 Z M9.872,9.6 L6.128,9.6 C6.056,9.072 6,8.544 6,8 C6,7.456 6.056,6.92 6.128,6.4 L9.872,6.4 C9.944,6.92 10,7.456 10,8 C10,8.544 9.944,9.072 9.872,9.6 Z M10.072,14.048 C10.552,13.16 10.92,12.2 11.176,11.2 L13.536,11.2 C12.768,12.52 11.544,13.544 10.072,14.048 Z M11.488,9.6 C11.552,9.072 11.6,8.544 11.6,8 C11.6,7.456 11.552,6.928 11.488,6.4 L14.192,6.4 C14.32,6.912 14.4,7.448 14.4,8 C14.4,8.552 14.32,9.088 14.192,9.6 L11.488,9.6 Z" id="icon/action/language_24px"></path></svg>')
    no-repeat 15px 50%;
}
@media screen and (max-width: 600px) {
  input.lh-input {
    width: 100%;
  }
}
ol {
  position: relative;
  list-style: none;
  counter-reset: ol-step-counter;
}
ol li {
  counter-increment: ol-step-counter;
  margin-bottom: 8px;
}
ol li::before {
  position: absolute;
  left: 0;
  content: counter(ol-step-counter);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 12px;
  background: #000;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 2px 8px 0 0;
}
.masthead {
  background: #f8f9fa;
}
.masthead .container {
  padding-top: 0;
  padding-bottom: 80px;
}
.masthead-right {
  grid-row: 1;
  grid-column: 1 / span 12;
  width: 100%;
  height: 65vw;
  margin-bottom: -21vw;
  background-image: url('../images/headers/future_web.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: -21vw;
  right: -27vw;
}
.masthead-left {
  grid-row: 2;
  grid-column: 1 / span 12;
}
.masthead-left__title {
  font-weight: 500;
  margin-bottom: 16px;
}
.masthead-left__body {
  line-height: 1.8;
  margin: 0 0 24px;
}
.masthead-left__button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@media screen and (min-width: 600px) {
  .masthead-left {
    grid-column: 2 / span 8;
  }
}
@media screen and (min-width: 840px) {
  .masthead .container {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .masthead-right {
    grid-row: 1;
    grid-column: 7 / span 6;
    position: static;
    width: 650px;
    height: 650px;
    -webkit-transform: translate(20%, -20%);
    transform: translate(20%, -20%);
    margin-bottom: -250px;
  }
  .masthead-left {
    grid-row: 1;
    grid-column: 2 / span 5;
  }
}
@media screen and (max-width: 1024px) and (min-width: 840px), screen and (max-width: 380px) {
  .masthead-left__button-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .masthead-left__button-row .button {
    margin: 16px 0 0;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .masthead-right {
    right: -250px;
  }
  .masthead-left h1 {
    font: 500 40px/50px Google Sans, sans-serif;
    letter-spacing: 0.29px;
  }
}
@media screen and (min-width: 1440px) {
  .masthead-right {
    width: 717px;
    height: 717px;
    -webkit-transform: translate(10%, -20%);
    transform: translate(10%, -20%);
  }
  .masthead-left {
    grid-column: 2 / span 4;
  }
}
.about-landing-page .masthead-right {
  position: static;
  background-image: url('../images/headers/about.svg');
  grid-column: 1 / span 12;
  max-width: 100%;
  height: 75vw;
  justify-self: center;
  margin-top: -130px;
  margin-bottom: -50px;
  -webkit-transform: initial;
  transform: initial;
}
.about-landing-page .masthead-left {
  grid-column: 1 / span 12;
}
@media screen and (min-width: 600px) {
  .about-landing-page .masthead-right {
    width: 550px;
    height: 450px;
  }
}
@media screen and (min-width: 840px) {
  .about-landing-page .masthead-right {
    -ms-flex-item-align: center;
    align-self: center;
  }
  .about-landing-page .masthead-left {
    grid-row: 2;
  }
}
@media screen and (min-width: 1024px) {
  .about-landing-page .masthead-left {
    grid-row: 1;
  }
  .about-landing-page .masthead-right {
    grid-column: 7 / span 6;
    margin-top: -15%;
    margin-left: -10%;
  }
}
@media screen and (min-width: 1024px) {
  .about-landing-page .masthead-left {
    grid-column: 2 / span 5;
  }
}
.numbered-headers {
  counter-reset: numbered-headers;
}
.numbered-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.numbered-header::before {
  counter-increment: numbered-headers;
  content: counter(numbered-headers);
  border-radius: 50%;
  display: block;
  width: 32px;
  height: 32px;
  min-width: 32px;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  font-weight: 600;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.numbered-header h2 {
  text-align: left;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 16px;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (min-width: 600px) {
  .numbered-header::before {
    width: 48px;
    height: 48px;
    min-width: 48px;
    font-size: 24px;
    line-height: 48px;
  }
}
.numbered-header--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.numbered-header--vertical::before {
  width: 40px;
  height: 40px;
  min-width: 40px;
  font-size: 20px;
  line-height: 40px;
}
.numbered-header--vertical h2 {
  margin: 24px 0 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
.progress {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  background: #f8f9fa;
  line-height: 1;
  padding: 16px 0;
  color: #3740ff;
}
@media (min-width: 840px) {
  .progress {
    background: transparent;
    padding: 0;
    margin-left: 24px;
  }
}
.progress__markers {
  display: block;
  position: relative;
  height: 16px;
  margin-left: 16px;
}
.progress__markers > div {
  display: inline-block;
  height: inherit;
  position: relative;
  z-index: 1;
}
.progress__markers > div::before {
  content: '';
  border-top: 1px solid #3740ff;
  display: block;
  position: absolute;
  top: calc(50%);
  left: 0;
  width: 100%;
  z-index: -1;
}
.progress__markers .progress__marker--complete {
  border-width: 2px;
  background: #dadce0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}
.progress__markers .progress__marker--complete.progress__marker--active {
  border-color: #3740ff;
  background: #3740ff;
}
.progress__markers .progress__marker--complete::after {
  content: 'check';
  font-family: 'Material Icons';
  position: absolute;
  left: 0;
}
.progress__markers .progress__marker--incomplete {
  border-color: transparent;
  background: #dadce0;
}
.progress__markers .progress__marker--active {
  border-color: #3740ff;
  background: #fff;
}
.progress__markers span {
  position: relative;
  display: inline-block;
  margin-right: 16px;
  width: 16px;
  height: 16px;
  border: 2px solid #3740ff;
  border-radius: 50%;
  background: #fff;
  z-index: 2;
}
.progress__markers span:last-child {
  margin-right: 0;
}
.progress__markers.vertical {
  width: 16px;
  height: auto;
}
.progress__markers.vertical > div::before {
  content: '';
  border-top: 0;
  border-left: 4px solid #3740ff;
  top: 0;
  left: calc(50% - 2px);
  width: auto;
  height: 100%;
}
.progress__markers.vertical > div span {
  display: block;
  margin-right: 0;
  margin-bottom: 16px;
}
.progress__markers.vertical > div span:last-child {
  margin-bottom: 0;
}
.devsite-table-wrapper {
  margin: 16px 0;
  overflow-x: scroll;
}
.devsite-table-wrapper table {
  font: 14px/20px Roboto, sans-serif;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
}
.devsite-table-wrapper caption,
.devsite-table-wrapper table,
.devsite-table-wrapper td,
.devsite-table-wrapper th {
  border: 1px solid #dadce0;
}
.devsite-table-wrapper caption {
  border-bottom: 0;
}
.devsite-table-wrapper td,
.devsite-table-wrapper th {
  min-width: 120px;
}
.devsite-table-wrapper th {
  font-size: 14px;
  font-weight: bold;
  color: inherit;
  text-align: left;
  background: #f8f9fa;
  padding: 8px 16px;
}
.devsite-table-wrapper td {
  vertical-align: top;
  padding: 16px;
  background: #fff;
}
.sidebar__container {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 8px;
  display: block;
  overflow: hidden;
  padding: 24px 0;
}
.sidebar__panel {
  padding: 0 32px;
}
.sidebar__panel + .sidebar__panel {
  margin: 24px 0 0;
}
.about-landing-page .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.about-landing-page h2 {
  font: 500 30px/36px Google Sans, sans-serif;
  letter-spacing: 0.22px;
  margin-top: 0;
  max-width: 832px;
}
.about-landing-page h3 {
  font-family: Google Sans, sans-serif;
  font-size: 24px;
}
.about-landing-page hr {
  margin: 0;
}
.about-landing-page .masthead {
  background: #fff;
}
.about-landing-page .vision {
  text-align: center;
  margin: 0 auto;
  background: #f8f9fa;
}
.about-landing-page .principles ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 64px;
  padding: 0 24px;
}
.about-landing-page .principles li {
  list-style: none;
  width: 100%;
  position: relative;
}
.about-landing-page .principles li::before {
  content: 'â– ';
  color: #3740ff;
  display: inline-block;
  position: absolute;
  left: -24px;
}
.about-landing-page .whats-on devsite-heading[level='h2'] + p,
.about-landing-page .whats-on h2,
.about-landing-page .whats-on h2 + p {
  text-align: center;
}
.about-landing-page .whats-on__card-row {
  display: block;
}
.about-landing-page .whats-on__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #dadce0;
  border-radius: 6px;
  margin-bottom: 16px;
}
.about-landing-page .whats-on__card h3 {
  margin-top: 0;
  font-weight: 500;
}
.about-landing-page .whats-on__card p {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.about-landing-page .whats-on__card a {
  -ms-flex-item-align: end;
  align-self: flex-end;
  justify-self: flex-end;
}
@media screen and (min-width: 840px) {
  .about-landing-page .principles li {
    width: calc(50% - 32px);
  }
  .about-landing-page .whats-on__card-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-landing-page .whats-on__card {
    max-width: 328px;
    margin-bottom: 0;
  }
  .about-landing-page .whats-on__card:first-of-type {
    margin-left: auto;
    margin-right: 16px;
  }
  .about-landing-page .whats-on__card:last-of-type {
    margin-right: auto;
    margin-left: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .about-landing-page h2 {
    font: 500 40px/50px Google Sans, sans-serif;
    letter-spacing: 0.29px;
  }
}
@media screen and (min-width: 1440px) {
  .about-landing-page .container {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
.guide-landing-page {
  padding-top: 40px;
}
.guide-landing-page .breadcrumbs-and-progress {
  grid-column: 2 / span 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.guide-landing-page .guide {
  grid-column: 1 / span 12;
  margin-top: 96px;
}
.guide-landing-page .guide :link:not(.button),
.guide-landing-page .guide :visited:not(.button) {
  color: #3740ff;
}
.guide-landing-page .guide :link:not(.button):active,
.guide-landing-page .guide :link:not(.button):hover,
.guide-landing-page .guide :visited:not(.button):active,
.guide-landing-page .guide :visited:not(.button):hover {
  text-decoration: underline;
}
.guide-landing-page .guide :link:not(.button):focus,
.guide-landing-page .guide :visited:not(.button):focus {
  outline: auto;
  outline-color: #3b99fc;
}
.guide-landing-page .guide .aside :link,
.guide-landing-page .guide .aside :visited {
  color: #202124;
}
.guide-landing-page .guide .caps-heading {
  border-bottom: 8px solid #e51661;
  padding-bottom: 16px;
}
.guide-landing-page .sidebar {
  display: none;
  font: 400 14px/24px Roboto, sans-serif;
  grid-column: 9 / span 3;
  margin-top: 96px;
  justify-self: flex-end;
  max-width: 220px;
}
.guide-landing-page .sidebar__title,
.guide-landing-page devsite-heading.sidebar__title h2 {
  font: 700 14px/24px Roboto, sans-serif;
  margin: 8px 0;
  text-transform: uppercase;
}
.guide-landing-page .sidebar__content {
  margin: 8px 0;
}
.guide-landing-page footer {
  margin-top: 64px;
}
@media screen and (min-width: 600px) {
  .guide-landing-page .guide {
    grid-column: 2 / span 10;
  }
}
@media screen and (min-width: 840px) {
  .guide-landing-page .breadcrumbs-and-progress {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .guide-landing-page .breadcrumbs-and-progress {
    grid-column: 1 / span 12;
  }
  .guide-landing-page .guide {
    grid-column: 1 / span 8;
  }
  .guide-landing-page .sidebar {
    display: block;
    grid-column: 10 / span 3;
  }
}
@media screen and (min-width: 1440px) {
  .guide-landing-page .breadcrumbs-and-progress {
    grid-column: 2 / span 10;
  }
  .guide-landing-page .guide {
    grid-column: 2 / span 7;
  }
  .guide-landing-page .sidebar {
    grid-column: 9 / span 3;
  }
  .guide-landing-page h1 {
    font: 500 40px/44px Google Sans, sans-serif;
  }
  .guide-landing-page h2 {
    font: 500 30px/36px Google Sans, sans-serif;
    letter-spacing: 0.22px;
  }
}
.path-landing-page {
  counter-reset: category;
  padding-bottom: 80px;
}
.path-landing-page ul {
  list-style: none;
  padding: 0;
}
.path-landing-page .path-intro h2,
.path-landing-page .path-learn h2 {
  font-size: 24px;
  margin: 64px 0 24px;
  font-weight: 500;
}
.path-landing-page .row {
  display: block;
}
@media (min-width: 840px) {
  .path-landing-page .row {
    display: grid;
  }
}
.path-landing-page .path-intro {
  grid-column: span 4;
}
.path-landing-page .path-intro p {
  line-height: 28px;
}
.path-landing-page .path-learn {
  grid-column: span 4;
  font-size: 14px;
}
.path-landing-page .path-learn ul {
  position: relative;
  padding-left: 4ch;
}
.path-landing-page .path-learn ul li {
  list-style: none;
}
.path-landing-page .path-learn ul li .tick {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  font-size: 20px;
  left: 0;
  color: #2979ff;
  font-family: 'Material Icons';
  display: inline-block;
}
@media screen and (min-width: 600px) {
  .path-landing-page .path-intro {
    grid-column: 1 / span 7;
  }
  .path-landing-page .path-learn {
    grid-column: 9 / span 4;
  }
}
@media screen and (min-width: 1440px) {
  .path-landing-page .path-intro {
    grid-column: 2 / span 6;
  }
  .path-landing-page .path-learn {
    grid-column: 9 / span 3;
  }
}
.path-landing-page .topic {
  position: relative;
  grid-column: 1 / span 12;
  margin-bottom: 48px;
  margin-right: 12px;
}
.path-landing-page .topic:not(:last-child) {
  border-bottom: 1px solid #dadce0;
}
@media screen and (min-width: 600px) {
  .path-landing-page .topic {
    margin-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .path-landing-page .topic {
    grid-column: 2 / span 10;
  }
}
@media screen and (min-width: 1440px) {
  .path-landing-page .topic {
    grid-column: 3 / span 8;
  }
}
.path-landing-page .topic h2 {
  font-size: 20px;
  font-weight: 500;
}
.path-landing-page .topic .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.path-landing-page .topic .title::before {
  counter-increment: category;
  content: counter(category);
  border-radius: 10000px;
  display: block;
  width: 32px;
  height: 32px;
  min-width: 32px;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  font-weight: 600;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 600px) {
  .path-landing-page .topic .title::before {
    width: 48px;
    height: 48px;
    min-width: 48px;
    font-size: 24px;
    line-height: 48px;
  }
}
.path-landing-page .topic .title h2 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 16px;
}
.path-landing-page .guides {
  font-size: 14px;
  line-height: 24px;
  list-style: none;
  padding: 0;
  margin-bottom: 48px;
  margin-left: 8px;
}
@media screen and (min-width: 600px) {
  .path-landing-page .guides {
    margin-left: 60px;
  }
}
.path-landing-page .guides li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin: 8px 0;
  padding: 4px;
  padding-left: 28px;
}
.path-landing-page .guides li .marker {
  width: 12px;
  height: 12px;
  min-width: 12px;
  margin: 6px 0;
  margin-left: -24px;
  margin-right: 12px;
  border-radius: 1000px;
  color: #dadce0;
  background: currentColor;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.path-landing-page .guides li .marker.progress-done {
  color: #2979ff;
}
.path-landing-page .guides li .marker.progress-done::after {
  font-family: 'Material Icons';
  content: 'done';
  position: absolute;
  display: inline-block;
  line-height: 12px;
  width: 12px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-left: -2px;
  margin-top: -2px;
  font-size: 10px;
  alt: '';
}
.path-landing-page .guides li .marker.pending {
  border-color: #2979ff;
  background: #fff;
}
.path-landing-page .guides li .marker::before {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  height: calc(100% + 8px);
  left: 9px;
  width: 2px;
  background: currentColor;
}
.path-landing-page .guides li:last-child .marker::before {
  display: none;
}
.path-landing-page .guides li :link:not(.button),
.path-landing-page .guides li :visited:not(.button) {
  text-decoration: underline;
}
.path-landing-page .guides li :link:not(.button):active,
.path-landing-page .guides li :link:not(.button):focus,
.path-landing-page .guides li :link:not(.button):hover,
.path-landing-page .guides li :visited:not(.button):active,
.path-landing-page .guides li :visited:not(.button):focus,
.path-landing-page .guides li :visited:not(.button):hover {
  color: #3740ff;
}
.path-landing-page .guides li :link:not(.button):focus,
.path-landing-page .guides li :visited:not(.button):focus {
  outline: auto;
  outline-color: #3b99fc;
}
.path-landing-page .guides li > input.artifacts-control {
  display: none;
}
.path-landing-page .guides li > label {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
  visibility: hidden;
  font-size: 0;
}
.path-landing-page .guides li > label::before {
  cursor: pointer;
  position: absolute;
  right: 0;
  visibility: visible;
  font-size: 24px;
  background: #dadce0;
  border-radius: 3px;
  font-family: 'Material Icons';
  display: inline-block;
  content: 'keyboard_arrow_down';
}
.path-landing-page .guides li > .artifacts {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 100%;
}
.path-landing-page .guides li > input.artifacts-control:not(:checked) ~ .artifacts {
  display: none;
}
.path-landing-page .guides li > input.artifacts-control:checked ~ label::before {
  content: 'keyboard_arrow_up';
}
.path-landing-page .artifacts h3 {
  margin: 4px 0;
  color: #304ffe;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
.path-landing-page .artifacts ul li {
  margin: 0;
  padding: 0;
}
.path-landing-page .artifacts ul li::before {
  color: #304ffe;
  font-family: 'Material Icons';
  display: inline-block;
  content: 'code';
  padding-right: 0.5ch;
}
.codelab-landing-page {
  height: calc(100vh - 64px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid #dadce0;
  overflow-x: scroll;
}
web-codelab {
  min-width: 1024px;
}
.web-codelab-instructions {
  width: 35%;
}
.web-codelab-instructions__body,
.web-codelab-instructions__heading {
  padding: 16px 32px;
}
.web-codelab-instructions__heading {
  border-bottom: 1px solid #dadce0;
}
.web-codelab-instructions__heading h1 {
  margin: 16px 0 0;
}
.web-codelab-instructions__heading .caps-heading {
  margin-top: 8px;
}
@media screen and (min-width: 840px) {
  .web-codelab-instructions__heading h1 {
    font: 500 24px/32px Google Sans, sans-serif;
  }
}
.profile-landing-page .hero-area {
  margin-bottom: 96px;
}
.profile-landing-page .hero-area .button svg {
  margin-right: 8px;
}
.profile-landing-page .results-section {
  padding: 40px 0;
  background: #f8f9fa;
}
.profile-landing-page .results-row h2 {
  margin-top: 0;
}
.profile-landing-page :link:not(.button),
.profile-landing-page :visited:not(.button) {
  color: #3740ff;
}
.profile-landing-page :link:not(.button):active,
.profile-landing-page :link:not(.button):hover,
.profile-landing-page :visited:not(.button):active,
.profile-landing-page :visited:not(.button):hover {
  text-decoration: underline;
}
.profile-landing-page :link:not(.button):focus,
.profile-landing-page :visited:not(.button):focus {
  outline: auto;
  outline-color: #3b99fc;
}
.profile-landing-page web-progress-bar {
  visibility: hidden;
}
.profile-landing-page web-profile {
  display: block;
  min-height: 242px;
}
.profile-landing-page web-lighthouse-scores-audits {
  display: block;
  min-height: 400px;
  margin-top: 40px;
}
.profile-landing-page web-lighthouse-scores-audits .lh-audit-list-headers {
  font: 500 14px/16px Roboto, sans-serif;
  color: #5f6368;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
}
.profile-landing-page web-lighthouse-scores-audits .lh-audit-list-headers .lh-audit-list-row__item {
  line-height: 60px;
}
.profile-landing-page web-lighthouse-scores-audits .lh-audit-list-rows .lh-audit-list-row {
  background-color: #fff;
  margin: 8px 0;
  padding: 16px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
}
.profile-landing-page
  web-lighthouse-scores-audits
  .lh-audit-list-rows
  .lh-audit-list-row:last-child {
  margin-bottom: 0;
}
.profile-landing-page web-lighthouse-scores-audits .lh-audit-list-rows .lh-audit-list-row__impact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: rgba(96, 1, 255, 0.2);
  color: #6001ff;
  font-weight: 600;
  border-radius: 20px;
  height: 32px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.profile-landing-page
  web-lighthouse-scores-audits
  .lh-audit-list-rows
  .lh-audit-list-row__impact--high {
  background-color: #fcebea;
  color: #d5100c;
}
.profile-landing-page
  web-lighthouse-scores-audits
  .lh-audit-list-rows
  .lh-audit-list-row__impact--medium {
  background-color: #fef3e5;
  color: #c6320d;
}
.profile-landing-page
  web-lighthouse-scores-audits
  .lh-audit-list-rows
  .lh-audit-list-row__impact--low {
  background-color: #ebebff;
  color: #3740ff;
}
.profile-landing-page web-lighthouse-scores-audits .lh-audit-list-row__item {
  margin-right: 16px;
}
.profile-landing-page web-lighthouse-scores-audits .lh-audit-list-row__item:last-of-type {
  margin-right: 0;
}
.profile-landing-page web-lighthouse-scores-audits .lh-audit-list-row__impact {
  min-width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profile-landing-page
  web-lighthouse-scores-audits
  .lh-audit-list-row__impact
  .lh-audit-list-row__impact-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: none;
  border: 0;
  padding-left: 0;
  border-bottom: 1px solid transparent;
  color: inherit;
  text-transform: uppercase;
  outline: none;
  font: 500 14px/16px Roboto, sans-serif;
}
.profile-landing-page
  web-lighthouse-scores-audits
  .lh-audit-list-row__impact
  .lh-audit-list-row__impact-arrow:focus-within {
  border-bottom: 1px solid #5f6368;
  margin-bottom: 0;
}
.profile-landing-page
  web-lighthouse-scores-audits
  .lh-audit-list-row__impact
  .lh-audit-list-row__impact-arrow::after {
  font: normal normal normal 24px/1 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  content: 'arrow_drop_down';
}
.profile-landing-page
  web-lighthouse-scores-audits
  .lh-audit-list-row__impact
  .lh-audit-list-row__impact-arrow[data-inverted]::after {
  content: 'arrow_drop_up';
}
.profile-landing-page web-lighthouse-scores-audits .lh-audit-list-row__category {
  min-width: 150px;
}
.profile-landing-page web-lighthouse-scores-audits .lh-audit-list-row__guide,
.profile-landing-page web-lighthouse-scores-audits .lh-audit-list-row__recommendation {
  width: 50%;
}
.profile-landing-page web-lighthouse-scores-audits .lh-audit-list-row__guide {
  padding: 0 4px;
}
.profile-landing-page web-lighthouse-scores-audits .lh-audit-list-see-more__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.profile-landing-page
  web-lighthouse-scores-audits
  .lh-audit-list-see-more__container
  .lh-audit-list-see-more__button {
  -ms-flex-item-align: center;
  align-self: center;
  background: none;
  border: 0;
  color: #3740ff;
  text-transform: uppercase;
  font: 500 14px/36px Roboto, sans-serif;
}
.profile-landing-page
  web-lighthouse-scores-audits
  .lh-audit-list-see-more__container
  .lh-audit-list-see-more__button:disabled {
  display: none;
}
@media screen and (max-width: 840px) {
  .profile-landing-page
    web-lighthouse-scores-audits
    .lh-audit-list-headers
    .lh-audit-list-row__category,
  .profile-landing-page web-lighthouse-scores-audits .lh-audit-list-row__category {
    display: none;
  }
}
.profile-landing-page .lh-score-card:focus-within {
  -webkit-box-shadow: inset 0 0 0 1px #3740ff;
  box-shadow: inset 0 0 0 1px #3740ff;
}
.profile-landing-page .profile-steps-section {
  padding: 80px 0 136px;
}
.profile-landing-page .profile-steps-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.profile-landing-page .profile-step {
  margin: 0 0 40px;
}
@media screen and (min-width: 1024px) {
  .profile-landing-page .profile-steps-section {
    padding: 136px 0;
  }
  .profile-landing-page .profile-steps-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .profile-landing-page .profile-step {
    max-width: 250px;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .profile-landing-page .profile-step {
    max-width: 300px;
  }
}
.profile-landing-page .lh-categories-section {
  padding: 80px 0 136px;
  background: #f8f9fa;
}
.profile-landing-page .lh-categories-section h2 {
  font: 500 40px/44px Google Sans, sans-serif;
  text-align: center;
  margin: 0 0 40px;
}
.profile-landing-page .what-is-lighthouse {
  max-width: 900px;
  margin: 80px auto;
  text-align: center;
}
.profile-landing-page .lh-categories-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.profile-landing-page .lh-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
  text-align: center;
  margin-bottom: 72px;
}
.profile-landing-page .lh-category__icon {
  -ms-flex-item-align: center;
  align-self: center;
  margin-bottom: 3px;
}
.profile-landing-page .lh-category__title {
  font: 400 20px/32px Roboto, sans-serif;
  font-weight: 500;
  margin: 0 8px 16px;
}
@media screen and (min-width: 1440px) {
  .profile-landing-page .lh-category__title {
    margin: 16px 0;
  }
}
.home-landing-page .overline,
.home-landing-page devsite-heading.overline h2 {
  font: 500 12px/10px Roboto, sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #9aa0a6;
  margin: 0 0 6px;
  text-align: center;
}
.home-landing-page .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.home-landing-page .feature {
  background: #f8f9fa;
}
.home-landing-page .lessons {
  text-align: center;
}
.home-landing-page .lessons__learned {
  font: 300 24px/40px Google Sans, sans-serif;
}
.home-landing-page .measure__subgrid {
  display: block;
}
.home-landing-page .measure__copy {
  margin-right: 24px;
}
.home-landing-page .measure__copy-overline {
  text-align: left;
}
.home-landing-page .measure__copy-title {
  font: 500 40px/50px Google Sans, sans-serif;
  letter-spacing: 0.29px;
}
.home-landing-page .measure__copy-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.home-landing-page .measure__copy-list .arrow-right {
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 28px;
  display: inline-block;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.home-landing-page .measure__copy-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.home-landing-page .measure__copy-list-item-caret {
  margin-right: 4px;
}
.home-landing-page .measure__get-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
}
.home-landing-page .measure__get-started .button {
  margin: 16px 0;
}
.home-landing-page .measure__get-started .lh-input {
  background-color: #fff;
  min-width: 256px;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.home-landing-page .measure__illustration {
  display: none;
}
.home-landing-page .learning__all-paths,
.home-landing-page .learning__header {
  text-align: center;
}
.home-landing-page .learning__header-title,
.home-landing-page devsite-heading.learning__header-title h3 {
  font: 500 40px/50px Google Sans, sans-serif;
  letter-spacing: 0.29px;
  margin: 16px 0;
}
.home-landing-page .learning__header-body {
  margin: 16px 0 32px;
}
.home-landing-page .join-us__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.home-landing-page .join-us__header-title,
.home-landing-page devsite-heading.join-us__header-title h3 {
  max-width: 505px;
  font: 300 24px/40px Google Sans, sans-serif;
  text-align: center;
  margin: 16px 0 24px;
}
.home-landing-page .magazine__header-title {
  font: 500 40px/50px Google Sans, sans-serif;
  letter-spacing: 0.29px;
  margin: 16px 0;
}
.home-landing-page .magazine__more-posts {
  text-align: center;
}
@media screen and (min-width: 840px) {
  .home-landing-page .masthead .container {
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1024px) {
  .home-landing-page .container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .home-landing-page .lessons {
    padding-left: 0;
    padding-right: 0;
    max-width: 842px;
  }
  .home-landing-page .measure__subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-landing-page .measure__get-started {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .home-landing-page .measure__get-started .button {
    margin-bottom: 42px;
  }
  .home-landing-page .measure__illustration {
    display: block;
    background: #dadce0;
    margin-left: -5vw;
  }
  .home-landing-page .learning__all-paths {
    text-align: right;
  }
}
@media screen and (min-width: 1440px) {
  .home-landing-page .join-us.container,
  .home-landing-page .learning.container,
  .home-landing-page .lessons.container {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
.learn-landing-page {
  padding-bottom: 80px;
}
.learn-landing-page .row {
  margin-bottom: 56px;
}
.learn-landing-page .hero-area-row > * {
  grid-column: 2 / span 10;
}
.learn-landing-page .heading-row {
  margin-bottom: 0;
}
.learn-landing-page .heading-row devsite-heading,
.learn-landing-page .heading-row h2 {
  grid-column: 1 / span 12;
}
.learn-landing-page .heading-row h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.learn-landing-page .learning__cta {
  text-align: center;
  padding: 20px;
  margin-bottom: 64px;
}
@media screen and (min-width: 600px) {
  .learn-landing-page .learning__cta {
    padding: 0;
  }
  .learn-landing-page .heading-row h2 {
    text-align: left;
  }
}
@media screen and (min-width: 840px) {
  .learn-landing-page {
    padding-bottom: 160px;
  }
}
@media screen and (min-width: 1440px) {
  .learn-landing-page .heading-row devsite-heading,
  .learn-landing-page .heading-row h2 {
    grid-column: 2 / span 10;
  }
}
