<!-- Hero Video contains background video, gradient if necessary, and ascender brand -->
<div class="hero">
  <video poster="/assets/images/background.svg" loop muted autoplay>
    <source
      src="/assets/videos/Can_SpongeBobs_Rainbowger_Survive_Planktons_Color_Nullifier_SpongeBob_SquarePants_Nick_1080p_veryslow_crf_33_96k.mp4"
      type="video/mp4"
    />
  </video>

  <div class="gradient"></div>

  <div class="content container">
    <h1 class="TextTheme--display4 TextTheme--ascendere">
      <span>Ascen</span>
      <span>dere</span>
    </h1>
  </div>
</div>
