<!-- Hero Video contains background video, gradient if necessary, and ascender brand -->
<div class="hero">
  <!-- TODO: change asset -->
  <video poster="/assets/images/default-background.png" loop muted autoplay>
    <source
      src="/assets/videos/Can_SpongeBobs_Rainbowger_Survive_Planktons_Color_Nullifier_SpongeBob_SquarePants_Nick_1080p_veryslow_crf_33_96k.mp4"
      type="video/mp4"
    />
  </video>
  <!-- <div class="overlay"></div> -->

  <div class="hero--content">
    <div class="main-content">
      <span class="play">PLAY</span>
      <h1 class="TextTheme--display3 TextTheme--ascendere">
        Ascendere
      </h1>
    </div>
  </div>
</div>
