.card {
  // position card inside aspect ratio
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // style card
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 2px 2px 10px #0000003e;

  // TODO: add Variables
  // background: linear-gradient(to bottom right, var(--color-1), var(--color-2));

  // place content inside card
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: flex-end;

  // style content
  color: white;
  text-decoration: none;

  transition: all 0.6s ease-in-out;

  &:hover {
    @media screen and (min-width: 840px) {
      transform: scale(1.03);
    }
  }

  &--type {
    justify-self: flex-start;
    margin-bottom: auto;
  }

  h4 {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 10px;
  }
}
