<!-- Curso Card has  3 elements: Type of Course, Name of curse, and start Date with and end Date  -->
<div class="aspect-ratio">
  <a
    class="card"
    [ngStyle]="curso.typeBackground"
    [routerLink]="['/', 'programa-formacion', 'curso', curso.id]"
  >
    <span class="TextTheme--subhead card--type">{{ curso.type | uppercase }}</span>
    <h4 class="TextTheme--title">{{ curso.name }}</h4>
    <span *ngIf="curso.singleDate; else doubleDate"> Inicia el {{ curso.startDate | date }} </span>
    <ng-template class="TextTheme--subhead " #doubleDate>
      {{ curso.startDate | date }} hasta {{ curso.endDate | date }}
    </ng-template>
  </a>
</div>
