.card {
  // position card inside aspect ratio
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // style card
  cursor: pointer;
  // TODO: add Variables
  // background: linear-gradient(to bottom right, var(--color-1), var(--color-2));

  // place content inside card
  display: flex;
  flex-direction: column;
  padding: 15px;

  // style content
  color: white;
  h4 {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 10px;
  }
}

.expanded {
  flex-grow: 1;
}
