<indev-return-fab></indev-return-fab>

<header>
  <img src="/assets/images/ascendere/vicerrector.jpg" alt="Vicerrector Académico" />
  <main>
    <h1 class="TextTheme--headline">Saludo del Vicerrector</h1>
    <h3 class="TextTheme--title">Estimados docentes:</h3>
    <markdown>
      Les doy la bienvenida al portal de innovación docente del Vicerrectorado Académico, a la vez
      que al inicio del presente ciclo académico. Este sitio busca poner al alcance de todos las
      iniciativas que tenemos en marcha para estimular la reflexión, actualización y mejora de
      nuestras prácticas docentes. La colaboración de ustedes y las sugerencias que nazcan de la
      misma, serán de gran ayuda para hacer de este portal un medio vivo y dinámico de interacción
      entre el Vicerrectorado Académico y el cuerpo docente de la Universidad.
    </markdown>
    <span class="TextTheme--subtitle">Santiago Acosta Aide</span>
    <span class="TextTheme--subtitle">Vicerrector Académico</span>
  </main>
</header>
