<!-- Navbar Container -->
<nav>
  <indev-container>
    <!-- Main Navbar -->
    <div class="navbar">
      <!-- Brand and actions (small screen) -->
      <div class="navbar-header">
        <div class="navbar-icon">
          <img src="/assets/images/logo.svg" alt="Logo Ascendere" />
        </div>
        <div class="actions">
          <button mat-stroked-button>Sign In</button>
          <button mat-button (click)="toggleNavbar()">📚</button>
        </div>
      </div>

      <div class="main-header" #mainNavbar>
        <button mat-stroked-button class="close-navbar" (click)="toggleNavbar()">❌</button>
        <!-- Main Navbar content, Direct links to content -->
        <ul class="header-menu">
          <!-- Each item from main navbar is clickable. -->
          <li *ngFor="let headerMenuItem of headerMenu">
            <!-- Items with dropdown have different layout than normal ones -->
            <div *ngIf="!headerMenuItem.children; else dropdownContent">
              <button mat-button class="menu-item">
                <h3>{{ headerMenuItem.name }}</h3>
              </button>
            </div>

            <ng-template #dropdownContent>
              <!-- Dropdown containers, need to position dropdown content  -->
              <div class="dropdown" #dropdown>
                <!-- Button should toggle dropdown -->
                <button mat-button class="menu-item">
                  <h3>{{ headerMenuItem.name }} 🍕</h3>
                </button>
                <ul class="dropdown-content">
                  <!-- dropdown container have sections, with borders.
                But if just section, remove section decorators-->
                  <li
                    *ngFor="let menuSection of headerMenuItem.children"
                    class="dropdown-section"
                    [ngClass]="{ 'remove-section-decorator': !menuSection.children }"
                  >
                    <!-- Sections names can be: name or name with goto-->
                    <button
                      mat-button
                      color="primary"
                      href="#feaasd"
                      [disabled]="!menuSection.goto"
                      *ngIf="menuSection.name"
                    >
                      <h4>
                        {{ menuSection.name }}
                      </h4>
                    </button>

                    <!-- section content -->
                    <ul *ngIf="menuSection.children">
                      <li *ngFor="let sectionDetail of menuSection.children">
                        <button mat-button>
                          {{ sectionDetail.name }}
                        </button>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </ng-template>
          </li>
        </ul>

        <!-- Actions for Navbar -->
        <!-- <div class="navbar-actions">
          <input type="text" />
          <button indev-stroked-button>Iniciar Sesión</button>
          <button indev-stroked-button>Registrarse</button>
        </div> -->
      </div>
    </div>
  </indev-container>
</nav>
