<nav>
  <indev-container>
    <div class="header-1">
      <img src="/assets/images/logo.svg" alt="Logo Ascendere" />
    </div>
    <div class="header-menu">
      <ul class="main-menu">
        <li>
          Servicios
        </li>
        <li>
          Innovacion
          <ul class='dropdown'>
            <li>Buenas Practicas</li>
            <li>Proyectos Actuales</li>
            <li>Ayudantes de Catedra</li>
          </ul>
        </li>
        <li>
          Formacion
          ul.dropdown>
        </li>
        <li>
          Evaluacion
        </li>
      </ul>
    </div>
  </indev-container>
</nav>

<!--
    Navbar is at the top of the app, and it is stikie
    Structure of navbar:


    - brand section
      - logo
      - actions (only on small screens)
    - Header menu
      - Main menu
        - sections
          - dropdown
            - dropdown section
              - header
              - links
      - Actions Section
        - Search bar
        - Sign In button
   -->

<!-- <div class="navbar">
        <div class="brand " style="--aspect-ratio:1/1">
          <img src="/assets/images/logo.svg" alt="Logo Ascendere">
        </div>
        <ul class="responsive-nav">
          <li class="TextTheme--subhead">Innovación</li>
          <li class="TextTheme--subhead">Formación</li>
          <li class="TextTheme--subhead">Evaluación</li>
        </ul>
      </div> -->
