<section indev-section>
  <div class="home-video">
    <div class="container">
      <div class="row">
        <div class="content">
          <span class="TextTheme--display1 before">
            Quienes Somos
          </span>
          <span>
            A través de iniciativas como Encuentro, Jornadas de Reflexión Académica, el Plan de
            Formación Docente, entre otras, busca instaurar un sello de calidad para todos los
            programas formativos de la Universidad Técnica Particular de Loja.
          </span>
        </div>
        <div class="aspect-ratio">
          <video #videoRef preload controls>
            <source
              src="/assets/videos/Can_SpongeBobs_Rainbowger_Survive_Planktons_Color_Nullifier_SpongeBob_SquarePants_Nick_1080p_veryslow_crf_33_96k.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
