<!-- Proyecto innovacion has 2 parts, hero image and a content part.
content displays name of project, coordinator, participants, areas and read more button -->
<div class="card">
  <div class="aspect-ratio hero-image">
    <img [src]="heroImage" alt="Imagen" />
  </div>
  <div class="content">
    <h4 class="TextTheme--title">{{ title }}</h4>
    <p>Coordinador: {{ coordinador }}</p>
    <p>Participantes: {{ pariticpantes }}</p>
    <div class="areas">{{ area }}</div>
    <div class="expanded"></div>
    <div class="actions">
      <button indev-button color="primary">VEr Proyecto</button>
    </div>
  </div>
</div>
