.card {
  // make card take all available space
  width: 100%;
  height: 100%;
}

// style elements when hovered
.card:hover {
  img {
    transform: translate3d(0, 0, 0);
    transform: scale(1.03);
  }
}

// size hero image inside 16:9 container
.hero-image {
  // style background
  background-image: var(--surface-background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: all 0.4s ease-in-out;
  }
}

.content {
  max-width: 100%;

  // position items inside flex
  display: flex;
  flex-direction: column;
  padding: 15px 25px 5px 25px;

  > * {
    // give elements inside spacing
    padding-bottom: 10px;
  }

  h4 {
    // title in one line
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: justify;
  }

  .expanded {
    flex-grow: 1;
  }

  .actions {
    // align items with other content
    margin-left: -15px;
    margin-right: -15px;

    // position items
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
