<!-- Proyecto innovacion has 2 parts, hero image and a content part.
content displays name of project, coordinator, participants, areas and read more button -->
<div class="card">
  <div class="aspect-ratio hero-image">
    <img [src]="proyecto.img" [alt]="imgAlt" />
  </div>
  <div class="content">
    <h4 class="TextTheme--title">{{ proyecto.name }}</h4>
    <p style="text-transform: capitalize">Coordinador: {{ proyectoCoordinator }}</p>
    <p>Participantes: {{ proyecto.participants.length }}</p>
    <!-- TODO: <div class="areas">{{ area }}</div> -->
    <div class="expanded"></div>
    <div class="actions">
      <button mat-button color="primary">VEr Proyecto</button>
    </div>
  </div>
</div>
