<!-- Navbar Container -->
<nav>
  <div class="container">
    <!-- Main Navbar -->
    <div class="navbar">
      <!-- Brand and actions (small screen) -->
      <div class="main-header">
        <div class="main-icon" [routerLink]="['/']">
          <img src="/assets/images/AscendereLogo.svg" alt="Logo Ascendere" />
        </div>
        <div class="main-actions">
          <button mat-stroked-button>Sign In</button>
          <button mat-icon-button (click)="toggleNavbar()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
      <!-- End Brand and Main Actions -->

      <!-- Main Navbar -->
      <div class="main-navbar " #mainNavbar>
        <!-- Close button only visible on small screens -->
        <button mat-icon-button class="close-navbar" (click)="toggleNavbar()">
          ❌
        </button>

        <!-- Main Navbar content, Direct links to content -->
        <ul class="header-menu">
          <!-- Each item from main navbar is clickable. -->
          <li *ngFor="let headerMenuItem of headerMenu">
            <!-- Two Cases, simple link or dropdown, it depends wether it has children or not -->
            <indev-menu-button
              [menuItemData]="headerMenuItem"
              *ngIf="!headerMenuItem.children; else templateName"
            ></indev-menu-button>

            <ng-template #templateName>
              <indev-menu-summary [menuSummaryData]="headerMenuItem"></indev-menu-summary>
            </ng-template>
          </li>
        </ul>

        <!-- Actions for Navbar -->
        <div class="navbar-actions">
          <!-- TODO: show if not login -->
          <!-- TODO: overflow navbar -->
          <a mat-stroked-button [routerLink]="['/login/signIn']">Iniciar Sesión</a>
          <a mat-stroked-button [routerLink]="['/login/signUp']">Registrarse</a>
        </div>
      </div>
    </div>
  </div>
</nav>
