// display breakpoints
$display-small: 500;
$display-tablet: 700;
$display-desktop: 1100;

// style navbar with default color, background and space
nav {
  max-height: 200px;
  background-color: var(--surface-color);
  color: var(--on-surface);
  padding: 15px 0;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.404);

  @media screen and (min-width: $display-desktop+'px') {
    padding: 25px 0;
  }
}

// Navbar by default is a flex element to give items space between
// in desktop screen
.navbar {
  @media screen and (min-width: $display-desktop+'px') {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

// main-header contains mainly logo and on small screens actions
.main-header {
  width: auto;

  // Take all space to position actions on the other side of the row
  @media screen and (max-width: $display-desktop+'px') {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

// hide main-header.actions on desktop
.main-header .main-actions {
  @media screen and (min-width: $display-desktop+'px') {
    display: none;
  }
}

// size ascendere brand logo
.main-icon {
  height: 50px;
  width: 50px;
  margin-right: 25px;
  @media screen and (min-width: $display-desktop+'px') {
    height: 75px;
    width: 75px;
  }
}

// main links and actions, by default display is none, but in desktop is a flex row
.main-navbar {
  display: none;
  @media screen and (min-width: $display-desktop+'px') {
    display: flex;
    flex-direction: row;
  }
}

// when main is activated and is on small screen, items will be displayed at left sode
.main-navbar.active-navbar {
  @media screen and (max-width: $display-desktop+'px') {
    width: 40vw;
    overflow: auto;

    position: fixed !important;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    padding: 25px;

    background-color: #fff;
    box-shadow: 0 10px 50px rgba(27, 31, 35, 0.15);
    z-index: 100;
  }
  @media screen and (max-width: $display-tablet+'px') {
    width: 60vw;
  }
}

// Close button on side bar is displayed onlu on small screens, and sidebar is active
// remove button margin
.main-navbar.active-navbar .close-navbar {
  @media screen and (max-width: $display-desktop+'px') {
    align-self: flex-end;
    order: 1;
  }
}
.close-navbar {
  @media screen and (min-width: $display-desktop+'px') {
    display: none;
  }
}

// contains links, on desktop align them on a row, and mobile as a column and a border
.header-menu {
  overflow: auto;
  display: flex;
  @media screen and (max-width: $display-desktop+'px') {
    flex-direction: column;
    > li {
      border-bottom: 1px dotted rgba(0, 0, 0, 0.692);
      &:last-child {
        border-bottom: none;
      }
    }
    button.menu-item,
    a.menu-item {
      margin: 0 -15px;
    }
  }
  @media screen and (min-width: $display-desktop+'px') {
    flex-direction: row;
  }
}

.navbar-actions {
  display: flex;
  flex-wrap: nowrap;
  @media screen and (max-width: $display-desktop+'px') {
    flex-direction: column;
    margin-top: 10px;
    > * {
      margin-bottom: 15px;
    }
  }
  @media screen and (min-width: $display-desktop+'px') {
    flex-direction: row;
    margin-left: 10px;
    > * {
      margin-left: 10px;
    }
  }
}
