.summary {
  overflow: hidden;
}

.summary:hover .summary-content {
  display: block;
}

// content by default is hidden
.summary-content {
  display: none;

  padding: 15px 25px;

  // style content
  border-radius: 5px;
  background-color: var(--surface-color);

  @media screen and(min-width: 840px) {
    // on laptop
    position: absolute;
    z-index: 100;

    // style content
    border-radius: 5px;
    background-color: var(--surface-color);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
}

.summary-section {
  padding: 15px 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.summary-section indev-menu-button {
  margin: 0 -16px;
}

.remove-section-decorator {
  padding: 0;
  border: none;
}
