<indev-admin-actions>
  <a [routerLink]="['/programa-formacion/admin/create']" mat-menu-item>Crear Curso</a>
</indev-admin-actions>

<indev-header>
  <h1>Programa de Formación Docente</h1>
  <img src="/assets/images/ProgramaFormacion.svg" alt="ProgramaFormacion Icon" />
  <markdown src="/assets/markdown/programa-formacion/programa-formacion.md"> </markdown>
</indev-header>

<div class="container">
  <section indev-section>
    <indev-section-title>
      Próximos Cursos
    </indev-section-title>
    <indev-section-controls>
      <a mat-button color="primary" [routerLink]="['portafolio']">Portafolio de Cursos</a>
    </indev-section-controls>
    <div class="grid" *ngIf="cursos.length > 0; else emptyMessage">
      <indev-curso-card *ngFor="let curso of cursos" [curso]="curso"> </indev-curso-card>
    </div>
    <ng-template #emptyMessage>
      <span class="TextTheme--headline">
        ❗ Aun no hay cursos para visualizar
      </span>
    </ng-template>
  </section>

  <div class="row">
    <div class="validar-formacion">
      <section indev-section>
        <indev-section-title>
          Válida tu formación Docente - Pedagógica
        </indev-section-title>
        <markdown src="/assets/markdown/programa-formacion/valida-formacion.md"> </markdown>
      </section>
    </div>
    <div class="cursos-especificos">
      <section indev-section>
        <indev-section-title>
          Solicitud Cursos Específicos
        </indev-section-title>
        <indev-section-controls>
          <a
            mat-button
            color="primary"
            [routerLink]="['/', 'articulo', '-cursos-especificos']"
            routerLinkActive="router-link-active"
          >
            Ver Más
          </a>
        </indev-section-controls>

        <markdown src="/assets/markdown/programa-formacion/cursos-especificos.md"> </markdown>
      </section>
    </div>
  </div>
</div>
