<indev-header>
  <h1 class="TextTheme--display2">
    Programa de
    <br />
    <span class="TextTheme--display3">Formación Docente</span>
  </h1>
  <img src="/assets/images/ProgramaFormacion.svg" alt="ProgramaFormacion Icon" />
  <markdown src="/assets/markdown/programa-formacion/programa-formacion.md"> </markdown>
</indev-header>

<indev-container>
  <section indev-section>
    <indev-section-title>
      Cursos Actuales
    </indev-section-title>
    <indev-section-controls>
      <button mat-button color="primary">Portafolio de Cursos</button>
    </indev-section-controls>

    <markdown ngPreserveWhitespaces> </markdown>
    <div class="grid">
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
    </div>
  </section>

  <div class="row">
    <div class="validar-formacion">
      <section indev-section>
        <indev-section-title>
          Válida tu formación Docente - Pedagógica
        </indev-section-title>
        <markdown src="/assets/markdown/programa-formacion/valida-formacion.md"> </markdown>
      </section>
    </div>
    <div class="cursos-especificos">
      <section indev-section>
        <indev-section-title>
          Solicitud Cursos Específicos
        </indev-section-title>
        <indev-section-controls>
          <a
            mat-button
            color="primary"
            [routerLink]="['/', 'articulo', 'cursos-especificos']"
            routerLinkActive="router-link-active"
            >Ver Más</a
          >
        </indev-section-controls>

        <markdown src="/assets/markdown/programa-formacion/cursos-especificos.md"> </markdown>
      </section>
    </div>
  </div>
</indev-container>
