<indev-hero-encuentro> </indev-hero-encuentro>

<indev-header>
  <h1 class="TextTheme--display2">
    Encuentro
    <br />
    <span class="TextTheme--display3">Café Científico</span>
  </h1>
  <img src="/assets/images/CafeCientifico.svg" alt="CafeCientifico Icon" />
  <markdown src="/assets/markdown/cafe-cientifico/cafe-cientifico.md"> </markdown>
</indev-header>

<indev-container>
  <section indev-section>
    <indev-section-title>
      Portafolio de Encuentros
    </indev-section-title>
    <indev-section-controls>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Desplazar portafolio hacia la Izquierda">arrow_back</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Desplazar portafolio hacia la Derecha">arrow_forward</mat-icon>
      </button>
    </indev-section-controls>

    <div class="grid">
      <indev-encuentro-card> </indev-encuentro-card>
      <indev-encuentro-card> </indev-encuentro-card>
    </div>
  </section>
</indev-container>
