<section indev-section class="container" *ngIf="isAdmin">
  <indev-section-title>Funciones Administrador</indev-section-title>
  <indev-section-controls>
    <a [routerLink]="['/cafe-cientifico/admin']" mat-raised-button color="primary">Ver Más</a>
  </indev-section-controls>
</section>

<indev-header>
  <h1 class="TextTheme--display2">
    Encuentro
    <br />
    <span class="TextTheme--display3">Café Científico</span>
  </h1>
  <img src="/assets/images/CafeCientifico.svg" alt="CafeCientifico Icon" />
  <markdown src="/assets/markdown/cafe-cientifico/cafe-cientifico.md"> </markdown>
</indev-header>
<indev-hero-encuentro [encuentro]="encuentro" *ngIf="encuentros.length > 0"> </indev-hero-encuentro>

<indev-cartelera-encuentros [encuentros]="encuentros"></indev-cartelera-encuentros>
