<markdown ngPreserveWhitespaces>
  # Markdown
  -----
  hello

  - [x] Done
  - [ ] Not Done

  asdfasd fasdfasd asddf asdf .sda f sdf asdf

  asdfasd fasdfasd asddf asdf .sda f sdf asdf

  asdfasd fasdfasd asddf asdf .sda f sdf asdf
  asdfasd fasdfasd asddf asdf .sda f sdf asdf
  asdfasd fasdfasd asddf asdf .sda f sdf asdf
  asdfasd fasdfasd asddf asdf .sda f sdf asdf
  asdfasd fasdfasd asddf asdf .sda f sdf asdf

  asdfasd fasdfasd asddf asdf .sda f sdf asdf
  <button indev-button color="error">error</button>

  ##  [Title](/blog/post/name-of-the-article)
### [Subtitle](/blog/post/name-of-the-article)
Posted by [David](mailto:david@fluster.io) on September 6, 2018

| foo | bar |
| --- | --- |
| baz | bim |
</markdown>

<indev-container >
  <div style="text-align:center;">
    <h1 class="TextTheme--display1">
      Welcome to Home!
    </h1>
  </div>
  <p class="TextTheme--display4">display4 display4</p>
  <p class="TextTheme--display3">display3 display3 display3</p>
  <p class="TextTheme--display2">display2 display2 display2 display2</p>
  <p class="TextTheme--display1">
    display1 display1 display1 display1display1 display1 display1
  </p>
  <p class="TextTheme--headline">
    headline headline headline headline headline headline headline headline
  </p>
  <p class="TextTheme--title">title title title title title title title title</p>
  <p class="TextTheme--subhead">
    subhead subhead subhead subhead subhead subhead subhead subhead
  </p>
  <p class="TextTheme--body2">body2 body2 body2 body2 body2 body2 body2 body2</p>
  <p class="TextTheme--body1">body1 body1 body1 body1 body1 body1 body1 body1</p>
  <p class="TextTheme--caption">
    caption caption caption caption caption caption caption caption
  </p>
  <p class="TextTheme--button">
    button button button button button button button button
  </p>
  <p class="TextTheme--subtitle">
    subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle
  </p>
  <p class="TextTheme--overline">
    overline overline overline overline overline overline overline overline
  </p>
  <br />
  <br />
  <indev-lazy-image
    dataSource="https://images.unsplash.com/photo-1550460238-e622bad1421a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
  >
  </indev-lazy-image>
  <br />
  <br />

  <indev-lazy-transition>
    <section indev-section>
      <indev-section-title>
        Nombre de la seccion
      </indev-section-title>
      <indev-section-controls>
        <button indev-button color="primary">Primary</button>
        <button indev-button>Basic</button>
        <button indev-button color="accent">Accent</button>
        <button indev-button color="error">error</button>
      </indev-section-controls>

      <div class="grid">
        <indev-proyectos-innovacion-card> </indev-proyectos-innovacion-card>
        <indev-proyectos-innovacion-card> </indev-proyectos-innovacion-card>
        <indev-proyectos-innovacion-card> </indev-proyectos-innovacion-card>
        <indev-proyectos-innovacion-card> </indev-proyectos-innovacion-card>
        <indev-proyectos-innovacion-card> </indev-proyectos-innovacion-card>
        <indev-proyectos-innovacion-card> </indev-proyectos-innovacion-card>
      </div>
    </section>
  </indev-lazy-transition>
  <indev-lazy-image
    dataSource="https://images.unsplash.com/photo-1550473138-51f80d50e666?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
  >
  </indev-lazy-image>
  <section indev-section>
    <indev-section-title>
      Nombre de la seccion
    </indev-section-title>
    <indev-section-controls>
      <button indev-button color="primary">Primary</button>
      <button indev-button>Basic</button>
      <button indev-button color="accent">Accent</button>
      <button indev-button color="error">error</button>
    </indev-section-controls>

    <div class="grid">
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
    </div>
  </section>
  <indev-lazy-image
    dataSource="https://images.unsplash.com/photo-1550483135-4a6b4cbc6469?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
  >
  </indev-lazy-image>
  <section indev-section>
    <indev-section-title>
      Nombre de la seccion
    </indev-section-title>
    <indev-section-controls>
      <button indev-button color="primary">Primary</button>
      <button indev-button>Basic</button>
      <button indev-button color="accent">Accent</button>
      <button indev-button color="error">error</button>
    </indev-section-controls>

    <div class="grid">
      <indev-encuentro-card> </indev-encuentro-card>
      <indev-encuentro-card> </indev-encuentro-card>
      <indev-encuentro-card> </indev-encuentro-card>
      <indev-encuentro-card> </indev-encuentro-card>
      <indev-encuentro-card> </indev-encuentro-card>
    </div>
  </section>
  <indev-lazy-image
    dataSource="https://images.unsplash.com/photo-1550461645-b4881ca49895?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80"
  >
  </indev-lazy-image>
  <section indev-section>
    <indev-section-title>
      Nombre de la seccion
    </indev-section-title>
    <indev-section-controls>
      <button indev-button>Basic</button>
      <button indev-button color="primary">Primary</button>
      <button indev-button color="accent">Accent</button>
      <button indev-button color="error">error</button>
    </indev-section-controls>

    <div class="grid">
      <div class="news-aspect-ratio">
        <indev-noticia-card> </indev-noticia-card>
      </div>
      <div class="news-aspect-ratio">
        <indev-noticia-card> </indev-noticia-card>
      </div>
      <div class="news-aspect-ratio">
        <indev-noticia-card> </indev-noticia-card>
      </div>
      <div class="news-aspect-ratio">
        <indev-noticia-card> </indev-noticia-card>
      </div>
      <div class="news-aspect-ratio">
        <indev-noticia-card> </indev-noticia-card>
      </div>
    </div>
  </section>
  <indev-lazy-image
    dataSource="https://images.unsplash.com/photo-1550437128-89cf8412d2de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
  >
  </indev-lazy-image>
  <br />
  <br />
  <br />
  <br />

  <div theme class="container">
    <h1>Hello</h1>
    <section indev-section>
      <h3>Basic Buttons</h3>
      <div class="example-button-row">
        <button indev-button>Basic</button>
        <button indev-button color="primary">Primary</button>
        <button indev-button color="accent">Accent</button>
        <button indev-button color="error">error</button>
        <button indev-button disabled>Disabled</button>
        <a indev-button routerLink=".">Link</a>
      </div>

      <h3>Raised Buttons</h3>
      <div class="example-button-row">
        <button indev-raised-button>Basic</button>
        <button indev-raised-button color="primary">Primary</button>
        <button indev-raised-button color="accent">Accent</button>
        <button indev-raised-button color="error">error</button>
        <button indev-raised-button disabled>Disabled</button>
        <a indev-raised-button routerLink=".">Link</a>
      </div>

      <h3>Stroked Buttons</h3>
      <div class="example-button-row">
        <button indev-stroked-button>Basic</button>
        <button indev-stroked-button color="primary">Primary</button>
        <button indev-stroked-button color="accent">Accent</button>
        <button indev-stroked-button color="error">error</button>
        <button indev-stroked-button disabled>Disabled</button>
        <a indev-stroked-button routerLink=".">Link</a>
      </div>

      <h3>Flat Buttons</h3>
      <div class="example-button-row">
        <button indev-flat-button>Basic</button>
        <button indev-flat-button color="primary">Primary</button>
        <button indev-flat-button color="accent">Accent</button>
        <button indev-flat-button color="error">error</button>
        <button indev-flat-button disabled>Disabled</button>
        <a indev-flat-button routerLink=".">Link</a>
      </div>

      <h3>Icon Buttons</h3>
      <div class="example-button-row">
        <button indev-icon-button>
          ♥
          <!-- <indev-icon aria-label="Example icon-button with a heart icon">favorite</indev-icon> -->
        </button>
        <button indev-icon-button color="primary">
          ♥
          <!-- <indev-icon aria-label="Example icon-button with a heart icon">favorite</indev-icon> -->
        </button>
        <button indev-icon-button color="accent">
          ♥
          <!-- <indev-icon aria-label="Example icon-button with a heart icon">favorite</indev-icon> -->
        </button>
        <button indev-icon-button color="error">
          ♥
          <!-- <indev-icon aria-label="Example icon-button with a heart icon">favorite</indev-icon> -->
        </button>
        <button indev-icon-button disabled>
          ♥
          <!-- <indev-icon aria-label="Example icon-button with a heart icon">favorite</indev-icon> -->
        </button>
      </div>
    </section>
  </div>
  <br />
</indev-container>
