<indev-home-hero-video></indev-home-hero-video>
<indev-features-scroll></indev-features-scroll>
<indev-featured-projects></indev-featured-projects>
<div class="container">
  <markdown src="https://raw.githubusercontent.com/Microsoft/vscode/master/README.md"> </markdown>
</div>

<div class="container">
  <div style="text-align:center;">
    <h1 class="TextTheme--display1">
      Welcome to Home!
    </h1>
  </div>
  <p class="TextTheme--display4">display4 display4</p>
  <p class="TextTheme--display3">display3 display3 display3</p>
  <p class="TextTheme--display2">display2 display2 display2 display2</p>
  <p class="TextTheme--display1">
    display1 display1 display1 display1display1 display1 display1
  </p>
  <p class="TextTheme--headline">
    headline headline headline headline headline headline headline headline
  </p>
  <p class="TextTheme--title">title title title title title title title title</p>
  <p class="TextTheme--subhead">
    subhead subhead subhead subhead subhead subhead subhead subhead
  </p>
  <p class="TextTheme--body2">body2 body2 body2 body2 body2 body2 body2 body2</p>
  <p class="TextTheme--body1">body1 body1 body1 body1 body1 body1 body1 body1</p>
  <p class="TextTheme--caption">
    caption caption caption caption caption caption caption caption
  </p>
  <p class="TextTheme--button">
    button button button button button button button button
  </p>
  <p class="TextTheme--subtitle">
    subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle
  </p>
  <p class="TextTheme--overline">
    overline overline overline overline overline overline overline overline
  </p>
</div>
