.example-button-row {
  button,
  a {
    margin-left: 8px;
  }
}

p {
  text-align: justify;
}

.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.aspect-ratio {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

indev-encuentro-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
