.example-button-row {
  button,
  a {
    margin-left: 8px;
  }
}

p {
  text-align: justify;
}

.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-auto-rows: 270px;
}
