<indev-home-hero-video></indev-home-hero-video>
<indev-features-scroll></indev-features-scroll>
<div class="container">
  <markdown src="https://raw.githubusercontent.com/Microsoft/vscode/master/README.md"> </markdown>
</div>

<div class="container">
  <div style="text-align:center;">
    <h1 class="TextTheme--display1">
      Welcome to Home!
    </h1>
  </div>
  <p class="TextTheme--display4">display4 display4</p>
  <p class="TextTheme--display3">display3 display3 display3</p>
  <p class="TextTheme--display2">display2 display2 display2 display2</p>
  <p class="TextTheme--display1">
    display1 display1 display1 display1display1 display1 display1
  </p>
  <p class="TextTheme--headline">
    headline headline headline headline headline headline headline headline
  </p>
  <p class="TextTheme--title">title title title title title title title title</p>
  <p class="TextTheme--subhead">
    subhead subhead subhead subhead subhead subhead subhead subhead
  </p>
  <p class="TextTheme--body2">body2 body2 body2 body2 body2 body2 body2 body2</p>
  <p class="TextTheme--body1">body1 body1 body1 body1 body1 body1 body1 body1</p>
  <p class="TextTheme--caption">
    caption caption caption caption caption caption caption caption
  </p>
  <p class="TextTheme--button">
    button button button button button button button button
  </p>
  <p class="TextTheme--subtitle">
    subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle
  </p>
  <p class="TextTheme--overline">
    overline overline overline overline overline overline overline overline
  </p>
  <br />
  <br />
  <!-- <indev-lazy-image
    dataSource="https://images.unsplash.com/photo-1550460238-e622bad1421a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
    >
  </indev-lazy-image> -->
  <br />
  <br />

  <!-- <indev-lazy-transition>
    <section indev-section>
      <indev-section-title>
        Nombre de la seccion
      </indev-section-title>
      <indev-section-controls>
        <button mat-button color="primary">Primary</button>
        <button mat-button>Basic</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="error">error</button>
      </indev-section-controls>

      <div class="grid">
        <indev-proyectos-innovacion-card> </indev-proyectos-innovacion-card>
        <indev-proyectos-innovacion-card> </indev-proyectos-innovacion-card>
        <indev-proyectos-innovacion-card> </indev-proyectos-innovacion-card>
        <indev-proyectos-innovacion-card> </indev-proyectos-innovacion-card>
        <indev-proyectos-innovacion-card> </indev-proyectos-innovacion-card>
        <indev-proyectos-innovacion-card> </indev-proyectos-innovacion-card>
      </div>
    </section>
  </indev-lazy-transition> -->
  <indev-lazy-load-image [source]="dataSource"> </indev-lazy-load-image>
  <section indev-section>
    <indev-section-title>
      Nombre de la seccion
    </indev-section-title>
    <indev-section-controls>
      <button mat-button color="primary">Primary</button>
      <button mat-button>Basic</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="error">error</button>
    </indev-section-controls>

    <div class="grid">
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
    </div>
  </section>
  <!-- <indev-lazy-image
    dataSource="https://images.unsplash.com/photo-1550483135-4a6b4cbc6469?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
    >
  </indev-lazy-image> -->
  <section indev-section>
    <indev-section-title>
      Nombre de la seccion
    </indev-section-title>
    <indev-section-controls>
      <button mat-button color="primary">Primary</button>
      <button mat-button>Basic</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="error">error</button>
    </indev-section-controls>

    <div class="grid">
      <indev-encuentro-card> </indev-encuentro-card>
      <indev-encuentro-card> </indev-encuentro-card>
      <indev-encuentro-card> </indev-encuentro-card>
      <indev-encuentro-card> </indev-encuentro-card>
      <indev-encuentro-card> </indev-encuentro-card>
    </div>
  </section>
  <!-- <indev-lazy-image
    dataSource="https://images.unsplash.com/photo-1550461645-b4881ca49895?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80"
    >
  </indev-lazy-image> -->
  <section indev-section>
    <indev-section-title>
      Nombre de la seccion
    </indev-section-title>
    <indev-section-controls>
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="error">error</button>
    </indev-section-controls>

    <div class="grid">
      <div class="news-aspect-ratio">
        <indev-noticia-card> </indev-noticia-card>
      </div>
      <div class="news-aspect-ratio">
        <indev-noticia-card> </indev-noticia-card>
      </div>
      <div class="news-aspect-ratio">
        <indev-noticia-card> </indev-noticia-card>
      </div>
      <div class="news-aspect-ratio">
        <indev-noticia-card> </indev-noticia-card>
      </div>
      <div class="news-aspect-ratio">
        <indev-noticia-card> </indev-noticia-card>
      </div>
    </div>
  </section>
  <!-- <indev-lazy-image
    dataSource="https://images.unsplash.com/photo-1550437128-89cf8412d2de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
  >
  </indev-lazy-image> -->
  <br />
  <br />
  <br />
  <br />

  <section indev-section>
    <h3>Basic Buttons</h3>
    <div class="example-button-row">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button routerLink=".">Link</a>
    </div>

    <h3>Raised Buttons</h3>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button routerLink=".">Link</a>
    </div>

    <h3>Stroked Buttons</h3>
    <div class="example-button-row">
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button routerLink=".">Link</a>
    </div>

    <h3>Flat Buttons</h3>
    <div class="example-button-row">
      <button mat-flat-button>Basic</button>
      <button mat-flat-button color="primary">Primary</button>
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="warn">Warn</button>
      <button mat-flat-button disabled>Disabled</button>
      <a mat-flat-button routerLink=".">Link</a>
    </div>

    <h3>Icon Buttons</h3>
    <div class="example-button-row">
      <button mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button disabled>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
    </div>

    <h3>Fab Buttons</h3>
    <div class="example-button-row">
      <button mat-fab>Basic</button>
      <button mat-fab color="primary">Primary</button>
      <button mat-fab color="accent">Accent</button>
      <button mat-fab color="warn">Warn</button>
      <button mat-fab disabled>Disabled</button>
      <button mat-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <a mat-fab routerLink=".">Link</a>
    </div>

    <h3>Mini Fab Buttons</h3>
    <div class="example-button-row">
      <button mat-mini-fab>Basic</button>
      <button mat-mini-fab color="primary">Primary</button>
      <button mat-mini-fab color="accent">Accent</button>
      <button mat-mini-fab color="warn">Warn</button>
      <button mat-mini-fab disabled>Disabled</button>
      <button mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <a mat-mini-fab routerLink=".">Link</a>
    </div>
  </section>
  <br />
</div>
