.row {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  align-items: center;

  @media screen and(min-width: 840px) {
    // on laptop
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr;
  }
  @media screen and(min-width: 1024px) {
    // on laptop l
    grid-template-columns: 1fr 2fr;
  }

  .grid {
    @media screen and(min-width: 1024px) {
      // on laptop l
      grid-template-columns: 1fr 1fr;
    }
    indev-proyecto-card {
      @media screen and(min-width: 840px) {
        // on laptop
        &:nth-child(1) {
          margin-right: 30px;
        }
        &:nth-child(2) {
          margin-left: 30px;
        }
      }
      @media screen and(min-width: 1024px) {
        // on laptop l
        &:nth-child(1) {
          margin-top: 30px;
          margin-right: 0;
          margin-left: 0;
        }
        &:nth-child(2) {
          margin-bottom: 30px;
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
}
