    <!-- We have 3 cases: route inside the application, outside the application, and dont route (disable) -->
    <ng-container
    *ngIf="routeItem.routerLink && routeItem.name; else routeOutside"
  >
    <a
      mat-button
      color="primary"
      routerLinkActive="router-link-active"
      [routerLink]="routeItem.routerLink"
    >
      <h4>
        {{ routeItem.name }}
      </h4>
    </a>
  </ng-container>
  <ng-template #routeOutside>
    <ng-container
      *ngIf="routeItem.goto && routeItem.name; else routeDisabled"
    >
      <a
        mat-button
        color="primary"
        [href]="routeItem.goto"
        target="_blank"
        rel="noopener noreferrer"
      >
        <h4>
          {{ routeItem.name }}
        </h4>
      </a>
    </ng-container>
  </ng-template>
  <ng-template #routeDisabled>
    <a mat-button color="primary" disabled *ngIf="routeItem.name">
      <h4>
        {{ routeItem.name }}
      </h4>
    </a>
  </ng-template>
  <!-- Sections names can be: name or name with goto-->
