<!-- TODO: add message if empty -->
<!-- TODO: add selected active element -->
<div class="container">
  <section indev-section>
    <indev-section-title>
      Portafolio de Encuentros
    </indev-section-title>
    <indev-section-controls>
      <button mat-icon-button color="primary" (click)="scrollLeft()">
        <mat-icon aria-label="Desplazar portafolio hacia la Izquierda">arrow_back</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="scrollRight()">
        <mat-icon aria-label="Desplazar portafolio hacia la Derecha">arrow_forward</mat-icon>
      </button>
    </indev-section-controls>

    <div class="vertical-list" #verticalList>
      <indev-encuentro-card *ngFor="let encuentro of encuentros.encuentros" [encuentro]="encuentro">
      </indev-encuentro-card>
    </div>
  </section>
</div>
