.vertical-list {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  width: 100%;
  indev-encuentro-card {
    min-width: 350px;
    height: 230px;
    margin-right: 15px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
