<indev-header>
  <h1 class="TextTheme--display2">
    <span class="TextTheme--display3">InnovaTips</span>
  </h1>
  <img src="/assets/images/ProgramaFormacion.svg" alt="ProgramaFormacion Icon" />
  <markdown src="/assets/markdown/innova-tips/innova-tips.md"> </markdown>
</indev-header>

<indev-container>
  <section indev-section>
    <indev-section-title>
      Últimos InnovaTips
    </indev-section-title>
    <indev-section-controls>
      <button mat-button color="primary">Ver más InnovaTips</button>
    </indev-section-controls>

    <div class="grid">
      <indev-curso-card> </indev-curso-card>
      <indev-curso-card> </indev-curso-card>
    </div>
  </section>
</indev-container>
